<div class="service-box">
    <div class="row gy-4">
        <div class="col-12">
            <div class="service-item">
                <input class="custom-checkbox" id="category9" type="radio" name="text">
                <label for="category9">Active</label>
            </div>
        </div>
        <div class="col-12">
            <div class="service-item">
                <input class="custom-checkbox" id="category10" type="radio" name="text">
                <label for="category10">Inactive</label>
            </div>
        </div>
    </div>
</div>