.lableSubtext {
    font-style: italic;
    font-size: 13px;
    color: #A9A9A9;
}

.management-section {
    margin-bottom: 24px;
}

.management-section h4 {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}

.permissions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn-style {
    border: 1px solid #ced4da;
    padding: 8px 24px;
    background-color: #ffffff;
    color: #6c757d;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* Active styles */
#standard:checked+label,
#combo:checked+label {
    background-color: #ff6600;
    color: #ffffff;
    border: 1px solid #ff6600;
}

.addChoice-button {
    background: #fff;
    color: #ff5454;
    font-size: calc(15px + 1 * (100vw - 320px) / 1600);
    border: 1px solid #ff5454;
    border-radius: 10px;
    height: 35px;
    transition: all 0.3s ease;
}

.addChoice-button:hover {
    background: #ff5454;
    color: #fff;
}

.toggleHeading {
    color: #3d3d3d;
    font-size: calc(14px + 1 * (100vw - 320px) / 1600);
    font-weight: 700;
}

.add-time-slot-btn {
    padding: 4px 10px;
    font-size: 14px;
    color: #f60;
    border: 1px solid #f60;
    background: transparent;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease all;
    margin-bottom: 2%;
}

.add-time-slot-btn:hover {
    background: #f60;
    color: #fff;
}