<div class="messages-box" (click)="IsMessage=!IsMessage">
    <i class="ri-message-3-line"></i>
</div>
<ul class="messages-dropdown onhover-show-div" [class.active]="IsMessage">
    <li>
        <i class="ri-message-3-line"></i>
        <h4 class="mb-0">Messages</h4>
    </li>
    <li>
        <div class="d-flex align-items-center gap-2">
            <img src="assets/images/user/1.jpg" alt="">
            <div>
                <h5>
                    Nullam tempor
                </h5>
                <p>Curabitur facilisis erat viverra.</p>
            </div>
        </div>
    </li>
    <li>
        <div class="d-flex align-items-center gap-2">
            <img src="assets/images/user/2.jpg" alt="">
            <div>
                <h5>
                    Nullam tempor
                </h5>
                <p>Curabitur facilisis erat viverra.</p>
            </div>
        </div>
    </li>
    <li>
        <div class="d-flex align-items-center gap-2">
            <img src="assets/images/user/3.jpg" alt="">
            <div>
                <h5>
                    Nullam tempor
                </h5>
                <p>Curabitur facilisis erat viverra.</p>
            </div>
        </div>
    </li>
    <li>
        <div class="d-flex align-items-center gap-2">
            <img src="assets/images/user/4.jpg" alt="">
            <div>
                <h5>
                    Nullam tempor 
                </h5>
                <p>Curabitur facilisis erat viverra.</p>
            </div>
        </div>
    </li>
    <li>
        <a class="btn btn-primary" href="javascript:void(0)">Go to Inbox</a>
    </li>
</ul>