.pizza-container {
    position: relative;
    width: 200px; /* Adjust as needed */
    height: auto;
  }
  
  .pizza-slice {
    width: 118%;
    height: auto;
    display: block;
    position: absolute;
    bottom: -14%;
  }
  
  .steam {
    position: absolute;
    top: -40px; /* Adjust to position the steam above the pizza */
    left: 50%;
    transform: translateX(-50%);
    width: 60px; /* Adjust size as needed */
    opacity: 0.7;
    animation: riseSteam 5s infinite ease-in-out;
  }
  
  @keyframes riseSteam {
    0% {
      transform: translateX(-50%) translateY(0);
      opacity: 0.7;
    }
    50% {
      transform: translateX(-50%) translateY(-20px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-50%) translateY(-40px);
      opacity: 0;
    }
  }
  