/**=====================
     Alert CSS start
==========================**/
.alert {
    border-radius: 0.15rem;
    padding: 15px;

    svg {
        vertical-align: middle;
    }

    .progress {
        margin-top: 15px;
    }

    [data-notify='icon'] {
        margin-right: 10px;
        line-height: 20px;
        position: absolute;
    }

    [data-notify='message'] {
        display: inline-block;
        width: 100%;
    }

    i {
        margin-right: 5px;
        font-size: 16px;
    }

    p {
        margin-bottom: 0;
    }

    .close {
        opacity: 1;

        span {
            font-size: 24px;
            font-weight: 400;
            display: inline-block;
            border-radius: 3px;
            text-shadow: none;
            padding: 0 5px;
            padding-right: 0;
        }
    }
}

.card-body {
    button {
        &:focus {
            outline: none;
        }
    }

    .alert {
        &:last-child {
            margin-bottom: 0;
        }

        svg {
            @include pseudowh($width: 14px, $height: 14px);
            margin-right: 4px;
            position: absolute;
            top: 18px;

            &~p {
                padding-left: 20px;
            }
        }
    }
}

strong {
    display: inline-block;

    &~p {
        display: inline-block;
    }
}
/**=====================
       Alert CSS end
  ==========================**/