/**=====================
     Form Builder 2 CSS Start
==========================**/
.ui-front {
    textarea {
        font-family: $font-rubik, $font-serif !important;
    }
}

.draggable {
    input {
        border-radius: 5px;
    }

    select {
        border-radius: 4px;
    }
}

/**=====================
     Form Builder 2 CSS Ends
==========================**/