/**=====================
     typahead-search CSS Start
==========================**/
.Typeahead {
    width: 100%;

    * {
        box-sizing: border-box;

        &:before {
            box-sizing: border-box;
        }

        &:after {
            box-sizing: border-box;
        }
    }

    .tt-hint {
        display: none !important;
    }
}

.u-cf {
    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.u-hidden {
    display: none !important;
}

.u-posRelative {
    position: relative;
}

.Typeahead-spinner {
    position: absolute;
    top: 14px;
    right: 18px;
    display: none;
    color: #c5c5c5;
}

.Typeahead-hint {
    width: 100%;
    padding: 5px 8px;
    font-size: 24px;
    line-height: 30px;
    border: 1px dashed #024e6a;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    color: #ccd6dd;
    opacity: 1;
}

.Typeahead-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 15px;
    z-index: 100;
    display: none;
    width: 100%;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.Typeahead-menu.is-open {
    display: block;
}

.ProfileCard {
    position: relative;
    padding: 5px 8px;
    border: 1px dashed rgba($dark-gray , 0.2) !important;
    margin-bottom: 7px;
    border-radius: 10px;
  
    &:hover {
      .ProfileCard-avatar {
        border-color: #f5f8fa;
      }
  
      color: #414345;
      background: #f8f8f8;
  
      .ProfileCard-screenName {
        color: $white;
      }
  
      .ProfileCard-stat-label {
        color: $white;
      }
    }
  
    .ProfileCard-realName{
      display: flex;
      gap: 10px;
      align-items: center;
      i{
        width: 18px;
      }
    }
  }

.Typeahead-selectable {
    cursor: pointer;

    + {
        .Typeahead-selectable {
            border-top: 1px dashed #ccd6dd;
        }
    }
}

.EmptyMessage {
    position: relative;
    padding: 10px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

.Typeahead-spinner {
    @include pseudowh($width: 1rem, $height: 1rem);
}

/**=====================
      typahead-search CSS Ends
  ==========================**/