.icon-color{
    font-weight: 700 !important;
    color: black !important;
}
.custom-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-top: 7px !important
  }
  
  .custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #f39c12; /* Orange */
  }
  
  input:checked + .slider:before {
    transform: translateX(18px);
  }
  
  