<app-card [header]="true" [body]="true">
    <h5 header>Product Information</h5>
    <div class="input-items" body>
        <div class="row gy-3">
            <div class="col-xl-6">
                <div class="input-box">
                    <h6>Product Name</h6>
                    <input type="text" placeholder="Product Name">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="input-box">
                    <h6>Product Type</h6>
                    <ng-select [items]="ProductPlaceholder" [searchable]="true" [(ngModel)]="selectedProduct"
                        [multiple]="true" bindLabel="name" bindValue="id" placeholder="Select Product Type"></ng-select>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="input-box">
                    <h6>Category</h6>
                    <ng-select [items]="PlaceholderCategory" [searchable]="true" [(ngModel)]="selectedCategory"
                        [multiple]="true" bindLabel="name" bindValue="id" placeholder="Select Category"></ng-select>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="input-box">
                    <h6>Subcategory</h6>
                    <ng-select [items]="PlaceholderSubcategory" [searchable]="true" [(ngModel)]="selectedSubcategory"
                        [multiple]="true" bindLabel="name" bindValue="id" placeholder="Select Subcategory"></ng-select>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="input-box">
                    <h6>Brand</h6>
                    <ng-select [items]="PlaceholderBrand" [searchable]="true" [(ngModel)]="selectedBrand"
                        [multiple]="true" bindLabel="name" bindValue="id" placeholder="Select Brand"></ng-select>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="input-box">
                    <h6>Unit</h6>
                    <ng-select [items]="PlaceholderUnit" [searchable]="true" [(ngModel)]="selectedUnit"
                        [multiple]="true" bindLabel="name" bindValue="id" placeholder="Select Unit"></ng-select>
                </div>
            </div>
            <div class="col-12">
                <div class="input-box">
                    <h6>Tags</h6>
                    <tag-input [(ngModel)]='items' [editable]="true" class="form-control"
                       name="Select"></tag-input>
                </div>
            </div>
            <div class="col-12">
                <div class="input-box">
                    <div class="icon-state">
                        <label class="switch-xsm mb-0">
                            <input type="checkbox" id="flexSwitchCheckDefault-1" checked=""><span class="slider round"></span>
                        </label>
                        <label class="form-check-label" for="flexSwitchCheckDefault-1">Refundable</label>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="input-box">
                    <div class="icon-state">
                        <label class="switch-xsm mb-0">
                            <input type="checkbox" id="flexSwitchCheckDefault-2" checked=""><span class="slider round"></span>
                        </label>
                        <label class="form-check-label" for="flexSwitchCheckDefault-2">Exchangeable</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-card>