<div class="checkout-detail">
    <div class="cart-address-box">
        <div class="add-img">
            <img class="img-fluid img sm-size" src="assets/images/svg/location.svg" alt="rp1">
        </div>
        <div class="add-content">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class=" deliver-place">
                    Deliver to : Home
                    <i class="ri-check-line"></i>
                </h5>
            </div>
            <h6 class="address mt-sm-2 mt-1 content-color">
                93, Songbird Cir, South Carolina, USA
            </h6>
        </div>
    </div>
    <div class="cart-address-box mt-3">
        <div class="add-img">
            <img class="img-fluid img sm-size" src="assets/images/svg/wallet-add.svg" alt="rp1">
        </div>
        <div class="add-content">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class=" deliver-place">
                    Payment Method: <i class="ri-check-line"></i>
                </h5>
            </div>
            <h6 class="address mt-sm-2 mt-1 content-color">
                Card: 98** **** **20
            </h6>
        </div>
    </div>
    <ul>
        <li>
            <div class="horizontal-product-box">
                <div class="product-content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5>Ultimate Loaded Nacho Fiesta</h5>
                        <h6 class="product-price">$20</h6>
                    </div>
                    <h6 class="ingredients-text">
                        Hot Nacho Chips
                    </h6>
                </div>
            </div>
        </li>
        <li>
            <div class="horizontal-product-box">
                <div class="product-content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5>Smoked Salmon Bagel</h5>
                        <h6 class="product-price">$40</h6>
                    </div>
                    <h6 class="ingredients-text">
                        Smoked Biscuit
                    </h6>
                </div>
            </div>
        </li>
        <li>
            <div class="horizontal-product-box">
                <div class="product-content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5>Cranberry Club Sandwich</h5>
                        <h6 class="product-price">$50</h6>
                    </div>
                    <h6 class="ingredients-text">Vegetables</h6>
                </div>
            </div>
        </li>
    </ul>
    <h5 class="bill-details-title fw-semibold ">
        Bill Details
    </h5>
    <div class="sub-total">
        <h6 class="content-color fw-normal">Sub Total</h6>
        <h6 class="fw-semibold">$110</h6>
    </div>
    <div class="sub-total">
        <h6 class="content-color fw-normal">
            Delivery Charge (2 kms)
        </h6>
        <h6 class="fw-semibold success-color">Free</h6>
    </div>
    <div class="sub-total">
        <h6 class="content-color fw-normal">
            Discount (10%)
        </h6>
        <h6 class="fw-semibold">$10</h6>
    </div>
    <div class="grand-total">
        <h6 class="fw-semibold ">Total</h6>
        <h6 class="fw-semibold amount">$100</h6>
    </div>
</div>