<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <strong>Search Criteria </strong>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
           <form [formGroup]="categoriesForm">
        <div class="row input-items gy-3">
           <div class="col-xl-3">
            <div class="input-box">
                <h6 class="fw-bold ">Store Name</h6>
                <ng-select
                  [items]="storeList"
                  [searchable]="true"
                  [multiple]="false"
                  bindLabel="store_name"
                  bindValue="store_id"
                  placeholder="Select Store Name"
                 formControlName="store" (change)="getmenuList()"
                >
                </ng-select>
              </div>
          </div>
          <!-- <div class="col-xl-3">
            <div class="input-box">
                <h6>Category Types</h6>
                <ng-select
                  [items]="categoryList"
                  [searchable]="true"
                  [multiple]="false"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Select CategoryType"
                >
                </ng-select>
              </div>
          </div> -->
          <!-- <div class="col-xl-3">
            <div class="input-box">
              <h6>E-Mail</h6>
              <input type="text" placeholder="E-Mail" />
            </div>
          </div> -->
          <div class="col-xl-3">
            <div class="input-box">
              <h6>Address</h6>
              <input type="text" placeholder="E-Mail"   formControlName="address"/>
            </div>
          </div>
          <div class="col-xl-3">
            <!-- <div class="col-md-6"> -->
            <div class="input-box">
              <h6>Status</h6>
              <select class="form-select" name="carlist"   formControlName="status">
                @for (item of stausList; track item) {
                <option value="">{{ item }}</option>
                }
              </select>
              <!-- </div> -->
            </div>
          </div>
          <div class="col-xl-3"></div>
          <div class="col-xl-3">
            <div class="d-flex flex-wrap gap-2">
              <button class="btn btn-animation save-button" type="button" (click)="searchCategory()">
                Search
              </button>
              <button class="btn btn-animation reset-button" type="button">
                Reset
              </button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-sm-12">
    <app-card [cardClass]="'card-table'" [body]="true">
      <div class="title-header option-title d-sm-flex d-block" body>
        <h5>Category List</h5>
        <div class="right-options">
          <ul>
            <li>
              <span style="font-size: 14px; color: #787c8b; font-weight: 600"
                >No.of.Categorys:{{rowData.length}}</span
              >
            </li>
            @if(this.loginUser.role_id ==1){
            <li (click)="insertCategory('Add')">
              <a class="export-btn"
                ><i class="ri-upload-2-fill me-1"></i> Add Category</a
              >
            </li>
          }
            <li>
              <a class="export-btn"
                ><i class="ri-upload-2-fill me-1"></i> Export</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div body>
        <div style="max-height: 700px; overflow: auto">
          <ag-grid-angular
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            [domLayout]="'autoHeight'"
            [suppressColumnVirtualisation]="true" [pagination]="true" [paginationPageSize]="15"
            [defaultColDef]="{ flex: 1, minWidth: 160, sortable: true }"
            (cellClicked)="onCellClicked($event)"
          >
          </ag-grid-angular>
        </div>
      </div>
    </app-card>
  </div>
</div>

<ng-template #confirmModal let-modal>
  <div class="modal-content">
    <div class="modal-header d-block text-center">
      <h5 class="modal-title w-100" style="font-size: 20px; font-weight: 600">
        Confirm Category Deletion
      </h5>
      <button type="button" class="btn-close" (click)="modal.dismiss()">
        <!-- <i class="fa fa-times"></i> -->
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <span style="font-size: 16px">
          Are you sure you want to delete this category?
        </span>
        <span class="text-danger fw-bold">This action cannot be undone.</span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm fw-bold btn-animation" (click)="modal.dismiss()">
        No
      </button>
      <button type="button" class="btn btn-sm fw-bold btn-animation" (click)="onConfirm()">
        Yes
      </button>
    </div>
  </div>
</ng-template>