$primary-orange: #fd7e14;

.nav-tabs.secondary-nav {
  border-bottom: 1px solid #dee2e6;
  .nav-item {
    .nav-link {
      color: #6c757d;
      border: none;
      background-color: transparent;
      padding: 0.75rem 1rem;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: #000;
        border-color: transparent;
      }
    }

    &.active {
      .nav-link {
        color: #000;
        font-weight: 500;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $primary-orange;
        }
      }
    }
  }
}

.save-btn {
  background-color: $primary-orange;
  border-color: $primary-orange;
  font-weight: bold;

  &:hover {
    background-color: darken($primary-orange, 10%);
    border-color: darken($primary-orange, 10%);
  }
}

.optional-badge {
  background-color: #f9fafb;
  color: #1d1919;
  padding: 10px;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 8px;
  margin: 10px;
  border: 1px solid rgb(9, 8, 8);
}
.dotted-divider {
  border: none;
  border-top: 2px dotted #2b2a2a;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
