::ng-deep .status-dropdown {
    width: 100%;
    height: 30px;
    padding: 2px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    color: #000;
    font-size: 13px;
  }
  
  ::ng-deep .status-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
    width: 290%;

  }
  
  ::ng-deep .status-active {
    background-color: #e6f4ea;
    color: #28a745;
    border: 1px solid #28a745;
    width: 130%;
    height: 30px;
  }
  
  ::ng-deep .status-Pending {
    background-color: #fff3e0;
    color: #ff9800;
    border: 1px solid #ff9800;
    width: 130%;
    height: 30px;
  }
  
  ::ng-deep .status-Inactive {
    background-color: #ffebee;
    color: #f44336;
    border: 1px solid #f44336;
    width: 130%;
    height: 30px;
  }
  