<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <strong>Search Criteria </strong>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
           <form [formGroup]="menuSearchForm">
        <div class="row gy-3">
          <div class="col-xl-3">
            <div class="input-box">
                <h6 class="fw-bold p-1">Store Name</h6>
                <ng-select 
                  [items]="storeList"
                  [searchable]="true"
                  [multiple]="false"
                  bindLabel="store_name"
                  bindValue="store_id"
                  placeholder="Select Store Name"
                 formControlName="store" (change)="getmenuList()"
                >
                </ng-select>
              </div>
          </div>
          <div class="col-xl-3">
            <div class="input-box">
              <h6 class="fw-bold p-1">Menu Name</h6>
              <input type="text" placeholder="Enter Menu Name"   formControlName="menuName" />
            </div>
          </div>
          <!-- <div class="col-xl-3">
            <div class="input-box">
              <h6 class="fw-bold p-1">Address</h6>
              <input type="text" placeholder="Address" />
            </div>
          </div> -->
          <div class="col-xl-3">
            <!-- <div class="col-md-6"> -->
            <div class="input-box">
              <h6 class="fw-bold p-1">Status</h6>
              <select class="form-select" name="carlist" formControlName="status" >
                @for (item of stausList; track item) {
                <option value="{{ item }}">{{ item }}</option>
                }
              </select>
              <!-- </div> -->
            </div>
          </div>
                 <div class="col-xl-3"></div>
              <!-- <div class="col-xl-2"></div> -->
          <div class="col-xl-3" style="margin-top: -10px;">
            <div class="d-flex flex-wrap gap-2">
              <button class="btn btn-animation save-button" type="button" (click)="search()">
                Search
              </button>
              <button class="btn btn-animation reset-button" type="button" (click)="reset()">
                Reset
              </button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-sm-12">
    <app-card [cardClass]="'card-table'" [body]="true">
      <div class="title-header option-title d-sm-flex d-block" body>
        <h5>Menus List</h5>
        <div class="right-options">
          <ul>
            <li>
              <span style="font-size: 14px; color: #787c8b; font-weight: 600"
                >No.of.Records:{{menuItemsList.length}}</span
              >
            </li>
            @if(loginUser ==1){
            <li (click)="insertMenu('Add')">
              <a class="export-btn"
                ><i class="ri-add-box-fill"></i> Create Menu</a
              >
            </li>
          }
            <li (click)="downloadDevicesExcel()">
              <a class="export-btn"><i class="ri-export-fill"></i> Export</a>
            </li>
          </ul>
        </div>
      </div>

      <div body>
        <div style="max-height: 400px; overflow: auto">
          <ag-grid-angular
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowData]="menuItemsList"
            [domLayout]="'autoHeight'"
            [suppressColumnVirtualisation]="true"[pagination]="true" [paginationPageSize]="15"
            [defaultColDef]="{ flex: 1, minWidth: 170, sortable: true }"
            (cellClicked)="onCellClicked($event)"
          >
          </ag-grid-angular>
        </div>
        <!-- <app-table [search]="false" [hasCheckbox]="false" [tableConfig]="tableConfig"></app-table> -->
      </div>
    </app-card>
  </div>
</div>


<ng-template #confirmModal let-modal>
  <div class="modal-content">
    <div class="modal-header d-block text-center">
      <h5 class="modal-title w-100" style="font-size: 20px; font-weight: 600">
        Confirm Menu Deletion
      </h5>
      <button type="button" class="btn-close" (click)="modal.dismiss()">
        <!-- <i class="fa fa-times"></i> -->
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <span style="font-size: 16px">
          Are you sure you want to delete this  Menu?
        </span>
        <span class="text-danger fw-bold">This action cannot be undone.</span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm fw-bold btn-animation" (click)="modal.dismiss()">
        No
      </button>
      <button type="button" class="btn btn-sm fw-bold btn-animation" (click)="onConfirm(modal)">
        Yes
      </button>
    </div>
  </div>
</ng-template>