::ng-deep .status-dropdown {
    width: 100%;
    height: 30px;
    padding: 2px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    color: #000;
    font-size: 13px;
  }
  
  ::ng-deep .status-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
    width: 290%;

  }
  
  // ::ng-deep .status-active {
  //   background-color: #e6f4ea;
  //   color: #28a745;
  //   border: 1px solid #28a745;
  //   width: 130%;
  //   height: 30px;
  // }
  
  // ::ng-deep .status-Pending {
  //   background-color: #fff3e0;
  //   color: #ff9800;
  //   border: 1px solid #ff9800;
  //   width: 130%;
  //   height: 30px;
  // }
  
  // ::ng-deep .status-Inactive {
  //   background-color: #ffebee;
  //   color: #f44336;
  //   border: 1px solid #f44336;
  //   width: 130%;
  //   height: 30px;
  // }
  ::ng-deep .status-active,
::ng-deep .status-no-stock,
::ng-deep .status-hide {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  width: 100px; /* fixed width */
  height: 30px; /* fixed height */
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
  // border-radius: 4px;

}

::ng-deep .status-active {
  background-color: #e6f4ea !important;
  color: #28a745 !important;
  border: 1px solid #28a745 !important;
}

::ng-deep .status-no-stock {
  background-color: #fff3e0;
  color: #ff9800;
  border: 1px solid #ff9800;
}

::ng-deep .status-hide {
  background-color: #ffebee;
  color: #f44336;
  border: 1px solid #f44336;
}

.optional-label{
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: #777;
}
.image-preview-container {
  position: relative;
  width: 120px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
  text-align: center;
}

.preview-img {
   width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.icon-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.file-name {
  font-size: 14px;
  color: #333;
  margin-top: 4px;
  word-break: break-word;
}

.image-size {
  font-size: 12px;
  color: #666;
}
