<div class="row">
    <div class="col-sm-12">
        <app-card [cardClass]="'card-table'" [body]="true">
            <div class="title-header option-title" body>
                <h5>All Category</h5>
                <form class="d-inline-flex">
                    <a [routerLink]="['/category/create-category']" class="export-btn">
                        <i class="ri-add-box-fill"></i> Add New
                        Add New
                    </a>
                </form>
            </div>
            <div class="table-responsive theme-scrollbar" body>
                <app-table [search]="true" [hasCheckbox]="true" [tableConfig]="tableConfig"></app-table>
            </div>
        </app-card>
    </div>
</div>