<div class="row">
    <div class="col-sm-12">
        <app-card [body]="true" [cardClass]="'card-table'">
            <div class="title-header option-title" body>
                <h5>Role List</h5>
                <form class="d-inline-flex">
                    <a [routerLink]="['/roles/create-role']" class="align-items-center btn btn-theme d-flex">
                        <app-feather-icons [icons]="'plus-square'"></app-feather-icons>Add Role
                    </a>
                </form>
            </div>
            <div body>
                <div class="table-responsive theme-scrollbar">
                    <app-table [search]="true" [tableConfig]="tableConfig" [hasCheckbox]="false"></app-table>
                </div>
            </div>
        </app-card>
    </div>
</div>