<form [formGroup]="storeForm">
  <app-card [header]="true" [body]="true">
       <div header class="title-header option-title justify-content-start right-options-height">
      @if(this.session.getsessionStorage('storeType') =='view'){
    <h5 header class="font-family" style="font-size: 20px;">View Store</h5>
      } @else{
          <h5 header class="font-family" style="font-size: 20px;">Edit Store</h5>
          
      }
      
          <div class="right-options ms-auto">

                    <ul>                
                        <li>
                            <!-- <a class="btn" > -->
                              <i class="ri-arrow-left-circle-line" style="font-size: 27px; cursor: pointer;" (click)="goBack()"></i>
                            <!-- </a> -->
                        </li>
                    
                    </ul>
                </div>
                </div>
    <div class="input-items font-family" body>
      <div class="row gy-3">

        <!-- Store Name -->
        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Store Name</h6>
            <input type="text" formControlName="storeName" placeholder="Enter Store Name" />
            @if (storeForm.get('storeName')?.touched && storeForm.get('storeName')?.invalid) {
              <div class="text-danger">Store Name is required</div>
            }
          </div>
        </div>

        <!-- Email -->
        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">E-Mail</h6>
            <input type="email" formControlName="email" placeholder="Enter E-Mail" />
            @if (storeForm.get('email')?.touched && storeForm.get('email')?.invalid) {
              <div class="text-danger">Valid email is required</div>
            }
          </div>
        </div>

        <!-- Phone -->
        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Phone Number</h6>
            <input type="text" formControlName="phoneNumber" placeholder="Enter Phone Number"  mask="(00)-000 0000" />
            @if (storeForm.get('phoneNumber')?.touched && storeForm.get('phoneNumber')?.invalid) {
              <div class="text-danger">Valid 10-digit phone number is required</div>
            }
          </div>
        </div>

        <!-- Password -->
        <div class="col-md-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Password</h6>
            <input type="password" formControlName="password" placeholder="Enter Password" />
            @if (storeForm.get('password')?.touched && storeForm.get('password')?.invalid) {
              <div class="text-danger">Minimum 6 characters required</div>
            }
          </div>
        </div>

        <!-- Address Fields -->
        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Street Address</h6>
            <input type="text" formControlName="address" placeholder="Enter Street Address" />
          </div>
        </div>

        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">City</h6>
            <input type="text" formControlName="city" placeholder="Enter City" />
          </div>
        </div>

        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">State</h6>
            <input type="text" formControlName="state" placeholder="Enter State" />
          </div>
        </div>

        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Postal Code</h6>
            <input type="text" formControlName="postalCode" placeholder="Enter Postal Code" />
          </div>
        </div>

        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Country</h6>
            <input type="text" formControlName="country" placeholder="Enter Country" />
          </div>
        </div>

        <!-- Status -->
        <div class="col-md-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Status</h6>
            <div class="radio-section">
              <label>
                <input type="radio" value="Active" formControlName="status" />
                <i></i>
                <span>Active</span>
              </label>
              <label>
                <input type="radio" value="Inactive" formControlName="status" />
                <i></i>
                <span>Inactive</span>
              </label>
            </div>
          </div>
        </div>

        <!-- Working Hours -->
        <div class="col-12">
          <div class="input-box">
            <h6 class="font-family">Hours of Working</h6>
            <span class="choose-img-box font-family" (click)="addHour()">
              <i class="ri-add-circle-line"></i>
              Add Working Hours
            </span>
          </div>
        </div>

      

        <div class="col-12">
 <div class="input-box">
  <h6 class="mb-2">Upload Images</h6>

  <!-- Preview Section -->
  <div *ngIf="uploadImagUrl_data; else uploadInput" class="image-preview-container">
    <img
      #previewImage
      [src]="uploadImagUrl_data"
      alt="Preview"
      class="preview-img"
    
    />

    <!-- Delete Icon -->
    <!-- <button class="icon-button delete" (click)="removeImage()" title="Delete">❌</button> -->
  <!-- <button class="icon-button" >×</button> -->
    @if(session.getsessionStorage('storeType') !='view'){
  <button class="icon-button"(click)="removeImage()">✕</button>
    }
    <!-- File name -->
    <!-- <div class="file-name text-center mt-1">
      {{ getCleanFileName() }}
    </div> -->

  
  </div>

  <!-- File input (shown when no preview) -->
  <ng-template #uploadInput>
    <input
      type="file"
      accept="image/*"
      (change)="onSelectFile($event)"
    />
  </ng-template>
</div>

</div>
        <!-- </div> -->
         



        
      </div>

      <!-- Buttons -->
       @if(session.getsessionStorage('storeType') !='view'){
      <button type="submit"  class="btn btn-animation save-button font-family" style="margin-left: 10px;" (click)="addStore()">
        <i class="ri-add-circle-line"></i>&nbsp; Update Store
      </button>
      <button type="button" class="btn btn-animation reset-button font-family" (click)="storeForm.reset()">
        <i class="ri-loop-right-line"></i>&nbsp; Reset
      </button>
    }
    </div>
  </app-card>
</form>
