<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <app-product-information></app-product-information>
            </div>
            <div class="col-12">
                <app-description></app-description>
            </div>
            <div class="col-12">
                <app-product-images></app-product-images>
            </div>
            <div class="col-12">
                <app-product-videos></app-product-videos>
            </div>
            <div class="col-12">
                <app-product-variations></app-product-variations>
            </div>
            <div class="col-12">
                <app-shipping></app-shipping>
            </div>
            <div class="col-12">
                <app-product-price></app-product-price>
            </div>
            <div class="col-12">
                <app-product-inventory></app-product-inventory>
            </div>
            <div class="col-12">
              <app-link-products></app-link-products>
            </div>
            <div class="col-12">
                <app-search-engine-listing></app-search-engine-listing>
            </div>
        </div>
    </div>
</div>