<div class="payment-methods-items">
    <div class="icon-state align-items-center gap-5">
        <label class="switch-xsm mb-0">
            <input type="checkbox" id="flexSwitchCheckDefault-12"><span class="slider round"></span>
        </label>
        <label class="form-check-label" for="flexSwitchCheckDefault-12">Status</label>
    </div>
    <div class="icon-state align-items-center gap-5">
        <label class="switch-xsm mb-0">
            <input type="checkbox" id="flexSwitchCheckDefault-13" checked><span
                class="slider round"></span>
        </label>
        <label class="form-check-label" for="flexSwitchCheckDefault-13">Sandbox Mode</label>
    </div>
    <div>
        <h5 class="mb-2">Client Id</h5>
        <ul>
            <li>
                <input type="text" name="text" placeholder="Enter Client Id">
            </li>
        </ul>
    </div>
    <div>
        <h5 class="mb-2">Secret</h5>
        <ul>
            <li>
                <input type="text" name="text" placeholder="Enter Secret">
            </li>
        </ul>
    </div>
</div>