<div class="icon-state mb-3 align-items-center gap-5">
    <label class="switch-xsm mb-0">
        <input type="checkbox" id="flexSwitchCheckDefault-21" checked><span class="slider round"></span>
    </label>
    <label class="form-check-label" for="flexSwitchCheckDefault-21">Status</label>
</div>
<div class="general-details">
    <div class="general-box">
        <div class="row gy-md-4 gy-2 align-items-center">
            <div class="col-xxl-3 col-xl-4 col-md-3">
                <h5>Secret :</h5>
            </div>
            <div class="col-xxl-9 col-xl-8 col-md-9">
                <input type="text" name="text" placeholder="Enter Secret Key">
            </div>
            <div class="col-xxl-3 col-xl-4 col-md-3">
                <h5>Site Key :</h5>
            </div>
            <div class="col-xxl-9 col-xl-8 col-md-9">
                <input type="text" name="text" placeholder="Enter Site Key">
            </div>
        </div>
    </div>
</div>