<div class="modal-header">
    <h5 class="modal-title">Add Inventory</h5>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="inventoryForm">
        <!-- Item Name -->
          <div class="input-box mb-3">
      <h6 class="fw-bold p-1">Item Name <span class="text-danger">*</span></h6>
      <input type="text" placeholder="Enter Item Name" formControlName="itemname" class="form-control" />
      <div *ngIf="inventoryForm.get('itemname')?.touched && inventoryForm.get('itemname')?.invalid" class="text-danger mt-1">
        Item Name is required
      </div>
    </div>

    <!-- Quantity -->
    <div class="input-box mb-3">
      <h6 class="fw-bold p-1">Quantity <span class="text-danger">*</span></h6>
      <input type="number" placeholder="Enter Quantity" formControlName="quantity" class="form-control" />
      <div *ngIf="inventoryForm.get('quantity')?.touched && inventoryForm.get('quantity')?.invalid" class="text-danger mt-1">
        Quantity is required 
      </div>
    </div>

        <!-- Status -->
        <div class="mb-3">
            <label class="form-label">Status</label>
            <select class="form-select" formControlName="status">
                <option value="" disabled>Select status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
            <div *ngIf="inventoryForm.get('status')?.touched && inventoryForm.get('status')?.invalid" class="text-danger">
                Status is required
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-animation save-button font-family" (click)="save()">Save</button>
</div>