/* Switch Button Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    margin-top: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 1px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #ff6600;;
  }
  
  input:checked + .slider:before {
    transform: translateX(22px);
  }
  
  .lableSubtext{
    font-size: 13px;
    color: #A9A9A9;
}

.management-section {
    margin-bottom: 24px;
  
    h4 {
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 600;
    }
  
    .permissions {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  .btn-style {
    border: 1px solid #ced4da;
    padding: 8px 24px;
    background-color: #ffffff;
    color: #6c757d;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  /* Active style for Standard */
  #standard:checked + label {
    background-color: #ff6600; /* gray */
    color: #ffffff;
    border: 1px solid #ff6600;
  }

  /* Active style for Combo */
  #combo:checked + label {
    background-color: #ff6600; /* orange */
    color: #ffffff;
    border: 1px solid #ff6600;
  }

  .addChoice-button {
    /* float: right; */
    background:white ;
    color: #ff5454;
    font-size: calc(15px + 1 * (100vw - 320px) / 1600);
    /* margin-top: 20px; */
    border: 1px solid #ff5454 !important;
    background: #fff;
    border-radius: 10px;
    height: 35px;
    &:hover {
      color: #fff;
      border: 1px solid #ff5454;
      background:#ff5454;  
      
  }
  .nav-pill {
    border:dotted 1px #ccc !important
    
  }
}

.add-time-slot-btn {
    padding: 4px 10px;
    font-size: 14px;
    color: #f60;
    border: 1px solid #f60;
    background: transparent;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease all;
    margin-bottom: 2%;
}

.add-time-slot-btn:hover {
    background: #f60;
    color: #fff;
}


.position-absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
.end-0 {
  right: 0;
}
.image-preview-container {
  position: relative;
  width: 120px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
  text-align: center;
}

.preview-img {
   width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.icon-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.file-name {
  font-size: 14px;
  color: #333;
  margin-top: 4px;
  word-break: break-word;
}

.image-size {
  font-size: 12px;
  color: #666;
}

