<form [formGroup]="menuForm">
  <div class="modal-content">
    <div class="modal-header">
      <h5>{{type}} Category</h5>
      <button class="btn-close" type="button" (click)="modal.dismissAll()">
        <i class="ri-close-line"></i>
      </button>
    </div>

    <div class="modal-body">
      <div class="col-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-pills flex-nowrap mb-3">
          <li [ngbNavItem]="1" class="nav-item m-0">
            <button ngbNavLink class="nav-link" type="button">General</button>
            <ng-template ngbNavContent>
              <div class="input-items">
                <div class="row">
                

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Name</h6>
                      <input type="text" placeholder="Enter Name" formControlName="name" />
                    </div>
                    <span class="lableSubtext mb-2">A unique name for your Category</span>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Display Name</h6>
                      <input type="text" placeholder="Enter Display Name" formControlName="display_name" />
                    </div>
                    <span class="lableSubtext mb-2">Will override the unique name in your store</span>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Description</h6>
                      <input type="text" placeholder="Enter Description" formControlName="description" />
                    </div>
                    <span class="lableSubtext mb-2">Enter a description that will be shown in your menu</span>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                          <div class="row">
                          <div class="col-6 ">
                  <h6>Hide Category</h6>
                          </div>
                          <div class="col-6 text-end">
                            <div class="form-switch d-inline-block">
                              <input 
                                type="checkbox" 
                                class="form-check-input" 
                                formControlName="hide_category">
                            </div>
                   
                      </div>
                              </div>
                      <!-- <h6>Hide Category</h6>
                      <label class="switch">
                        <input type="checkbox" formControlName="hide_category" />
                        <span class="slider round"></span>
                      </label> -->
                    </div>
                    <span class="lableSubtext">Toggling this will hide the category from your store</span>
                  </div>
                   <div class="col-12">
          <div class="input-box">
            <h6 class="font-family">Upload Images </h6>
            <!-- <span class="choose-img-box font-family" > -->
            
               <input autocomplete="off" id="fileInput" type="file" accept="image/*" (change)="onSelectFile($event)"
        >
            <!-- </span> -->
          </div>
        </div>
                </div>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="2" class="nav-item m-0">
            <button ngbNavLink class="nav-link" type="button">Conditions</button>
            <ng-template ngbNavContent>
              <div class="input-items">
                <div class="row">
                  
                    <div class="col-12">
                        <div class="input-box position-relative">
                          <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6>Store</h6>
                            <span class="optional-tag">OPTIONAL</span>
                          </div>
                          <ng-select
                            [items]="storeList"
                            [searchable]="true"
                            [multiple]="true"
                            bindLabel="store_name"
                            bindValue="store_id"
                            placeholder="Select from the dropdown or type to search..."
                            formControlName="store">
                          </ng-select>
                          <span class="lableSubtext mb-2">
                            Select which Store this Category will be available for. Leave empty for all times.
                          </span>
                        </div>
                      </div>
                        <div class="col-12 nav-pills">
                    <div class="input-box">
                      <h6>Menu <span class="text-danger">*</span></h6>
                      <ng-select formControlName="dish_menu_id" [items]="menuList" bindLabel="name" bindValue="dish_menu_id"
                        placeholder="Select Menu" [searchable]="true">
                      </ng-select>
                      <span class="lableSubtext mb-2">
                            Select which Menu Type this Category will be available for. Leave empty for all times.
                          </span>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-box">
                      <h6>Order Times</h6>
                      <ng-select formControlName="order_times" [items]="orderTimesOptions" [searchable]="true"
                        [multiple]="true" bindLabel="name" bindValue="id"
                        placeholder="Select or type to search"></ng-select>
                        <span class="lableSubtext mb-2">
                           Select which order times this menu will be available for. Leave empty for this menu to apply at all times
                          </span>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Services</h6>
                      <ng-select formControlName="services" [items]="servicesOptions" [searchable]="true"
                        [multiple]="true" bindLabel="name" bindValue="id"
                        placeholder="Select or type to search"></ng-select>
                        <span class="lableSubtext mb-2">
                          Select which services this menu will be available for. Leave empty for this menu to apply for services
                          </span>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box p-1">
                      <!-- <h6>Applicable Hours</h6> -->
                      <!-- <ng-select formControlName="applicable_hours" [items]="PlaceholderSubcategory" [searchable]="true"
                        [multiple]="true" bindLabel="name" bindValue="id"
                        placeholder="Select or type to search"></ng-select> -->
                            <div class="d-flex align-items-center justify-content-between mb-2">
                        <h6>Applicable Hours</h6>
                        <span class="optional-tag">OPTIONAL</span>
                      </div>
                      <!-- <button type="button" class="btn btn-outline-primary btn-sm" (click)="addTimeSlot()">Add Time Slot</button> -->
                      <button type="button" class="add-time-slot-btn" (click)="addNewRow()">
                        Add Time Slot
                      </button>
                         @if(isHide){
                      <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 300px" [rowData]="rowData"
                        [columnDefs]="columnDefs" rowSelection="single" [stopEditingWhenCellsLoseFocus]="true"
                        (cellClicked)="onCellClicked($event)" [domLayout]="'autoHeight'">
                      </ag-grid-angular>
                      }
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                              <div class="row">
                          <div class="col-6 ">
                  <h6>Mark As Age Restricted</h6>
                          </div>
                          <div class="col-6 text-end">
                            <div class="form-switch d-inline-block">
                              <input 
                                type="checkbox" 
                                class="form-check-input" 
                                formControlName="mark_as_age_restricted">
                            </div>
                   
                      </div>
                              </div>
                      <!-- <h6>Mark As Age Restricted</h6>
                      <label class="switch">
                        <input type="checkbox" formControlName="mark_as_age_restricted" />
                        <span class="slider round"></span>
                      </label> -->
                        <span class="lableSubtext mb-2">
                         This will require customers to confirm that they are over 18 before ordering from this menu or category and before they place an order. If ID verification is enabled, a customer will need to be logged in and verify their identity </span>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                          <div class="row">
                          <div class="col-6 ">
                   <h6>Enable Pre-orders Only</h6>
                          </div>
                          <div class="col-6 text-end">
                            <div class="form-switch d-inline-block">
                              <input 
                                type="checkbox" 
                                class="form-check-input" 
                                formControlName="enable_pre_orders_only">
                            </div>
                   
                      </div>
                          </div>
                         
                      <!-- <h6>Enable Pre-orders Only</h6>
                      <label class="switch">
                        <input type="checkbox" formControlName="enable_pre_orders_only" />
                        <span class="slider round"></span>
                        
                      </label> -->
                       <span class="lableSubtext mb-2">
                        Enabling this will disable immediate orders for this menu and require that people pre-order according to the conditions below</span>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Pre-order Days In Advance</h6>
                      <input type="text" formControlName="pre_order_days_in_advance" />
                       <span class="lableSubtext mb-2">
                        Ensures customers must pre-order items from this menu a certain amount of days in advance  </span>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Pre-order Cutoff Time</h6>
                      <input type="time" formControlName="pre_order_cutoff_time" />
                       <span class="lableSubtext mb-2">
                        Use in conjunction with the above option to ensure customers must place orders before a certain time on the last pre-order day. For example, if you set the cut off to 8:00pm and you require orders 2 day's in advance. For a customer to order for Friday, the latest they can put in their order is at 8:00pm on Wednesday
                         </span>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Pre-order Applicable Services</h6>
                      <ng-select formControlName="pre_order_applicable_service" [items]="servicesOptions"
                        [searchable]="true" [multiple]="true" bindLabel="name" bindValue="id"
                        placeholder="Select or type to search"></ng-select>
                         <span class="lableSubtext mb-5">
                        Select services which pre-order restrictions will be applied to. If no services selected, pre-order settings are applicable for all services</span>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                         <div class="row">
                          <div class="col-6 ">
                      <h6>Hide Restriction Warning</h6>
                          </div>
                          <div class="col-6 text-end">
                            <div class="form-switch d-inline-block">
                              <input 
                                type="checkbox" 
                                class="form-check-input" 
                                formControlName="hide_restriction_warning">
                            </div>
                   
                      </div>
                         
                       <span class="lableSubtext mb-5">
                    Toggling will hide the description of the restrictions in the online store</span>
                    </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                
                        <div class="row">
                          <div class="col-6 ">
                           <h6>Hide If Unavailable</h6>
                          </div>
                          <div class="col-6 text-end">
                            <div class="form-switch d-inline-block">
                              <input 
                                type="checkbox" 
                                class="form-check-input" 
                                formControlName="hide_if_unavailable">
                            </div>
                          </div>
                             
                          </div>
                       <span class="lableSubtext mb-2">
                         Toggling on will hide this if it is not available for ordering </span>
                    </div>
                  </div>


                     
                </div>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="3" class="nav-item m-0">
            <button ngbNavLink class="nav-link" type="button">POS</button>
            <ng-template ngbNavContent>
                <div class="input-items">
              <div class="row">
                <div class="col-12">
                  <div class="input-box">
                    <h6>POS Display Name</h6>
                    <input type="text" formControlName="POS_display_name" />
                    <span class="lableSubtext mb-2">
                     Will override the unique name in your POS
  </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <h6>POS Color Code</h6>
                    <input type="text" formControlName="pos_color_code" />
                    <span class="lableSubtext mb-2">
                       Easily identify this category in your POS</span>
                  </div>
                </div>
                 <div class="col-12">
                   <div class="input-items">
                        <div class="row">
                          <div class="col-6 ">
                            <h6 style="font-weight: 700;">Hide Category In POS</h6>
                          </div>
                          <div class="col-6 text-end">
                            <div class="form-switch d-inline-block">
                              <input 
                                type="checkbox" 
                                class="form-check-input" 
                                formControlName="hide_category_in_POS">
                            </div>
                          </div>
                                <span class="lableSubtext mb-2">
                       Toggling this will hide the category in your POS</span>
                          </div>
                        </div>
                      </div>
                <!-- <div class="col-12">
                       <div class="col-6">
                  <div class="input-box">
                    <h6>Hide Category In POS</h6>
                  </div>
                  </div>
                    <div class="col-6 text-end">
                    <label class="switch">
                       

                      <input type="checkbox" formControlName="hide_category_in_POS" />
                      <span class="slider round"></span>
                    </label>
                </div>
                
                    <span class="lableSubtext mb-2">
                      Toggling this will hide the category in your POS </span>
                </div> -->
              </div>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="4" class="nav-item m-0">
            <button ngbNavLink class="nav-link" type="button">Surcharge</button>
            <ng-template ngbNavContent>
                   <div class="input-items">
              <div class="row">
                <div class="col-12">
                  <div class="input-box">
                    <h6>Pickup Surcharge</h6>
                    <input type="text" formControlName="pickup_surcharge" />
                    <span class="lableSubtext mb-2">
                       Additional % to apply to item prices for pickup sales </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <h6>Delivery Surcharge</h6>
                    <input type="text" formControlName="delivery_surcharge" />
                    <span class="lableSubtext mb-2">
                       Additional % to apply to item prices for delivery sales
                         </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <h6>Managed Delivery Surcharge</h6>
                    <input type="text" formControlName="managed_delivery_surcharge" />
                    <span class="lableSubtext mb-2">
                      Additional % to apply to item prices for managed delivery sales where we supply drivers
                         </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <h6>Dine-In Surcharge</h6>
                    <input type="text" formControlName="dine_in_surcharge" />
                    <span class="lableSubtext mb-2">
                       Additional % to apply to item prices for dine-in sales  </span>
                  </div>
                </div>
              </div></div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
@if(type !='View'){
    <div class="modal-footer">
      <button class="btn btn-cancel" type="button" (click)="modal.dismissAll()">Cancel</button>
      <button class="btn btn-submit" (click)="addCategory()">Save</button>
    </div>
  }
  </div>
</form>