/* Switch Button Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin-top: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #ff6600;;
  }
  
  input:checked + .slider:before {
    transform: translateX(22px);
  }
  
  .lableSubtext{
    font-size: 13px;
    color: #A9A9A9;
}

.management-section {
    margin-bottom: 24px;
  
    h4 {
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 600;
    }
  
    .permissions {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  .btn-style {
    border: 1px solid #ced4da;
    padding: 8px 24px;
    background-color: #ffffff;
    color: #6c757d;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  /* Active style for Standard */
  #standard:checked + label {
    background-color: #ff6600; /* gray */
    color: #ffffff;
    border: 1px solid #ff6600;
  }

  /* Active style for Combo */
  #combo:checked + label {
    background-color: #ff6600; /* orange */
    color: #ffffff;
    border: 1px solid #ff6600;
  }

  .addChoice-button {
    /* float: right; */
    background:white ;
    color: #ff5454;
    font-size: calc(15px + 1 * (100vw - 320px) / 1600);
    /* margin-top: 20px; */
    border: 1px solid #ff5454 !important;
    background: #fff;
    border-radius: 10px;
    height: 35px;
    &:hover {
      color: #fff;
      border: 1px solid #ff5454;
      background:#ff5454;  
      
  }
  .nav-pill {
    border:dotted 1px #ccc !important
    
  }
}