<form [formGroup]="menuForm">
  <div class="modal-content">
    <div class="modal-header">
      <h5>Create Category</h5>
      <button class="btn-close" type="button" (click)="modal.dismissAll()">
        <i class="ri-close-line"></i>
      </button>
    </div>

    <div class="modal-body pt-0">
      <div class="col-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-pills flex-nowrap mb-3">
          <li [ngbNavItem]="1" class="nav-item m-0">
            <button ngbNavLink class="nav-link" type="button">General</button>
            <ng-template ngbNavContent>
              <div class="input-items">
                <div class="row gy-3">
                  <div class="col-12 nav-pills">
                    <div class="input-box">
                      <h6>Menu <span class="text-danger">*</span></h6>
                      <ng-select formControlName="dish_menu_id" [items]="menuList" bindLabel="name" bindValue="id"
                        placeholder="Select Menu" [searchable]="true">
                      </ng-select>
                    </div>
                  </div>

                  <div class="col-12 nav-pills">
                    <div class="input-box">
                      <h6>Name</h6>
                      <input type="text" placeholder="Enter Name" formControlName="name" />
                    </div>
                    <span class="lableSubtext mb-3">A unique name for your Category</span>
                  </div>

                  <div class="col-12 nav-pills">
                    <div class="input-box">
                      <h6>Display Name</h6>
                      <input type="text" placeholder="Enter Display Name" formControlName="display_name" />
                    </div>
                    <span class="lableSubtext mb-3">Will override the unique name in your store</span>
                  </div>

                  <div class="col-12 nav-pills">
                    <div class="input-box">
                      <h6>Description</h6>
                      <input type="text" placeholder="Enter Description" formControlName="description" />
                    </div>
                    <span class="lableSubtext mb-3">Enter a description that will be shown in your menu</span>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Hide Category</h6>
                      <label class="switch">
                        <input type="checkbox" formControlName="hide_category" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <span class="lableSubtext">Toggling this will hide the category from your store</span>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="2" class="nav-item m-0">
            <button ngbNavLink class="nav-link" type="button">Conditions</button>
            <ng-template ngbNavContent>
              <div class="input-items">
                <div class="row gy-3">
                  <div class="col-12">
                    <div class="input-box">
                      <h6>Order Times</h6>
                      <ng-select formControlName="order_times" [items]="PlaceholderSubcategory" [searchable]="true"
                        [multiple]="true" bindLabel="name" bindValue="id"
                        placeholder="Select or type to search"></ng-select>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Services</h6>
                      <ng-select formControlName="services" [items]="PlaceholderSubcategory" [searchable]="true"
                        [multiple]="true" bindLabel="name" bindValue="id"
                        placeholder="Select or type to search"></ng-select>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Applicable Hours</h6>
                      <ng-select formControlName="applicable_hours" [items]="PlaceholderSubcategory" [searchable]="true"
                        [multiple]="true" bindLabel="name" bindValue="id"
                        placeholder="Select or type to search"></ng-select>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Mark As Age Restricted</h6>
                      <label class="switch">
                        <input type="checkbox" formControlName="mark_as_age_restricted" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Enable Pre-orders Only</h6>
                      <label class="switch">
                        <input type="checkbox" formControlName="enable_pre_orders_only" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Pre-order Days In Advance</h6>
                      <input type="text" formControlName="pre_order_days_in_advance" />
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Pre-order Cutoff Time</h6>
                      <input type="text" formControlName="pre_order_cutoff_time" />
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Pre-order Applicable Services</h6>
                      <ng-select formControlName="pre_order_applicable_service" [items]="PlaceholderSubcategory"
                        [searchable]="true" [multiple]="true" bindLabel="name" bindValue="id"
                        placeholder="Select or type to search"></ng-select>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Hide Restriction Warning</h6>
                      <label class="switch">
                        <input type="checkbox" formControlName="hide_restriction_warning" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-box">
                      <h6>Hide If Unavailable</h6>
                      <label class="switch">
                        <input type="checkbox" formControlName="hide_if_unavailable" />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="3" class="nav-item m-0">
            <button ngbNavLink class="nav-link" type="button">POS</button>
            <ng-template ngbNavContent>
              <div class="row gy-3">
                <div class="col-12">
                  <div class="input-box">
                    <h6>POS Display Name</h6>
                    <input type="text" formControlName="POS_display_name" />
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <h6>POS Color Code</h6>
                    <input type="text" formControlName="pos_color_code" />
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <h6>Hide Category In POS</h6>
                    <label class="switch">
                      <input type="checkbox" formControlName="hide_category_in_POS" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="4" class="nav-item m-0">
            <button ngbNavLink class="nav-link" type="button">Surcharge</button>
            <ng-template ngbNavContent>
              <div class="row gy-3">
                <div class="col-12">
                  <div class="input-box">
                    <h6>Pickup Surcharge</h6>
                    <input type="text" formControlName="pickup_surcharge" />
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <h6>Delivery Surcharge</h6>
                    <input type="text" formControlName="delivery_surcharge" />
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <h6>Managed Delivery Surcharge</h6>
                    <input type="text" formControlName="managed_delivery_surcharge" />
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-box">
                    <h6>Dine-In Surcharge</h6>
                    <input type="text" formControlName="dine_in_surcharge" />
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-cancel" type="button" (click)="modal.dismissAll()">Cancel</button>
      <button class="btn btn-submit" (click)="addCategory()">Save</button>
    </div>
  </div>
</form>