<div class="table-responsive theme-scrollbar table-scroll-container">
    <div class="dataTables_wrapper no-footer">
        @if (search) {
        <label>Search:<input type="search" [(ngModel)]="searchText"></label>
        }
        <table class="table-scroll-container" [ngClass]="tableClass ? tableClass:'table category-table dataTable no-footer'">
            <thead>
                <tr>
                  @if (hasCheckbox) {
                    <th>
                      <input class="custom-checkbox" type="checkbox" name="text" (change)="checkUncheckAll($event)">
                    </th>
                  }
                  @for (columnHead of tableConfig.columns; track columnHead) {
                    <th (click)="onSort(columnHead.key)" style="cursor: pointer;">
                        <span class="header-content">
                            {{ columnHead.title }}
                            @if (sortColumn === columnHead.key) {
                              @if (sortDirection === 'asc') {
                                <span class="material-symbols-outlined">arrow_upward</span>
                              }
                              @else if (sortDirection === 'desc') {
                                <span class="material-symbols-outlined">arrow_downward</span>
                              }
                            }
                            @else {
                        <img src="assets/images/up_down_arrow.svg" alt="Steam" class="steam">
                            }
                          </span>
                    </th>
                  }
                </tr>
              </thead>
              
            <tbody>
                @for (columnData of filterData(searchText); track columnData;let ind = $index) {
                <tr>
                    @if (hasCheckbox) {
                    <td>
                        <input class="custom-checkbox" type="checkbox" name="text" (change)="onItemChecked($event)"
                            [checked]="selected.length && selected.includes(columnData?.id)">
                    </td>
                    }
                    @for (columnHead of tableConfig.columns; track columnHead) {
                    @if (columnHead?.type &&columnHead?.type == 'image') {
                    <td>
                        <!-- <div class="table-image">
                            <img [src]="columnData[columnHead.dataField]" class="img-fluid" [class]="columnHead.class"
                                alt="">
                        </div> -->
                        <ng-container class="table-image" *ngIf="columnData[columnHead.dataField]; else fallbackInitial">
                          <img [src]="columnData[columnHead.dataField]" class="img-fluid rounded-circle" [class]="columnHead.class" alt="User" width="40" height="40" />
                        </ng-container>
                        <ng-template #fallbackInitial>
                          <div class="avatar-placeholder rounded-circle text-white d-flex align-items-center justify-content-center"
                               style="width: 55px; height:55px; font-weight: bold; font-size: 1rem;" [ngStyle]="{ 'background-color': getColorForName(columnData.name) }"
                               >
                            {{ columnData.initial || (columnData.name ? columnData.name.charAt(0).toUpperCase() : '?') }}
                          </div>
                        </ng-template>
                    
                    </td>
                    } @else if(columnHead?.type && columnHead?.type == 'rating') {
                    <td>
                        <ngb-rating class="font-primary" [rate]="columnData[columnHead?.dataField]"></ngb-rating>
                    </td>
                    } @else if (columnHead.title === 'Tracking'){
                    <td>
                        <a  [routerLink]="columnData.trackingRoute"
                            class="btn btn-sm btn-dashed text-white">
                            {{ columnData[columnHead?.dataField] }}
                        </a>
                    </td>
                    }
                    @else if (tableConfig.rowActions?.length && columnHead?.type && columnHead?.type == 'option') {
                    <td>
                        <ul>
                            @for (action of tableConfig.rowActions; track action) {
                            <li>
                                <a href="javascript:void(0)" (click)="performAction(action)">
                                    <i [class]="action.icon"></i>
                                </a>
                            </li>
                            }
                        </ul>
                    </td>
                    }
                    @else {
                    <td [class]="columnHead.class" [innerHTML]="columnData[columnHead.dataField]"></td>
                    }
                    }
                </tr>
                } @empty {
                <tr>
                    <td [attr.colspan]="tableConfig.columns.length + 1">
                        No matching records found
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>