

.settings-section {
//   background: #fff;
//   padding: 12px;
//   border-radius: 8px;
  margin-bottom: 12px;
//   border: 1px solid #eee;
}

.section-title {
  font-weight: 600;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  background: #ccc;
  padding: 12px;

}

.settings-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
}

.settings-item:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

.settings-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.dropdown-setting {
  margin-top: 10px;
}

.dropdown-setting label {
  font-weight: 500;
  margin-bottom: 4px;
}

.form-select {
  border-radius: 6px;
}

.btn-close i {
  font-size: 20px;
}
.switch-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;

    &::before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: #ffa500; // Orange toggle

    &::before {
      transform: translateX(18px);
    }
  }
}

.security-body {
  max-height: 550px;
  overflow-y: auto;
  padding-right: 10px;
}

.section-header {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  background-color: #ecedf0;
}

.divider {
  height: 1px;
  width: 100%;
  background: #e5e5e5;
}

.action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #f1f1f1;
}

.action-row small {
  font-size: 11px;
}
.span-class{
    font-size: 0.8rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    // letter-spacing: 0.00938em;
    color: #000000;
}
