<app-card [header]="true" [body]="true">
    <h5 header>Search engine listing</h5>
    <div class="input-items" body>
        <div class="row gy-3">
            <div class="col-12">
                <div class="input-box">
                    <div class="seo-view">
                        <span class="link">https://zomo.com</span>
                        <h5>Online Order From Neardy Restaurant</h5>
                        <p>Find then best restaurants, cafes and bars on zomo,
                            view menus , photos, rating and user reviews for top restaursnts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="input-box">
                    <h6>Page title</h6>
                    <input type="search"
                    placeholder="Fresh Fruits">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="input-box">
                    <h6>URL handle</h6>
                    <input type="search"
                    placeholder="Search Url">
                </div>
            </div>
            <div class="col-12">
                <a href="#" class="btn restaurant-button">Save</a>
            </div>
        </div>
    </div>
</app-card>