<form [formGroup]="staffForm">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <app-card [header]="true" [body]="true">
            <h5 header>{{ isViewMode ? "View Staff" : "Edit Staff" }}</h5>
            <div class="row" body>
              <div class="col-12">
                <ul
                  class="nav nav-pills flex-nowrap mb-3"
                  ngbNav
                  #nav="ngbNav"
                  [(activeId)]="activeTab"
                >
                  <li [ngbNavItem]="'details'" class="nav-item m-0">
                    <button ngbNavLink class="nav-link" type="button">
                      Staff Details
                    </button>
                    <ng-template ngbNavContent>
                      <div class="input-items">
                        <div class="row gy-3">
                          <div class="col-xxl-3 col-xl-3 col-md-3 col-12">
                            <img
                              class="img1 mb-2"
                              width="100%"
                              [src]="profileImage || defaultImage"
                              alt="Profile Image"
                            />

                            <input
                              type="file"
                              accept="image/*"
                              class="form-control mt-2"
                              (change)="onSelectFile($event)"
                              *ngIf="!isViewMode"
                            />
                          </div>

                          <div class="col-xxl-9 col-xl-9 col-md-9 col-12">
                            <div class="row">
                              <div
                                class="col-xxl-6 col-xl-6 col-md-6 col-12"
                                *ngFor="
                                  let field of [
                                    {
                                      name: 'firstName',
                                      label: 'First Name',
                                      required: true
                                    },
                                    { name: 'lastName', label: 'Last Name' },
                                    {
                                      name: 'phone',
                                      label: 'Phone Number',
                                      required: true
                                    },
                                    {
                                      name: 'email',
                                      label: 'Email',
                                      required: true
                                    },
                                    { name: 'address', label: 'Address' },
                                    { name: 'country', label: 'Country' },
                                    { name: 'state', label: 'State' },
                                    { name: 'city', label: 'City' },
                                    { name: 'pos_pin', label: 'POS Pin Number' }
                                  ]
                                "
                              >
                                <div class="input-box">
                                  <h6>
                                    {{ field.label
                                    }}<span
                                      *ngIf="field.required"
                                      class="text-danger"
                                      >*</span
                                    >
                                  </h6>
                                  <input
                                    [type]="
                                      field.name.includes('pin')
                                        ? 'password'
                                        : 'text'
                                    "
                                    [formControlName]="field.name"
                                    [readonly]="isViewMode"
                                    [placeholder]="'Enter ' + field.label"
                                  />
                                </div>
                              </div>

                              <!-- Status -->
                              <div class="col-xxl-6 col-xl-6 col-md-6 col-12">
                                <div class="input-box">
                                  <h6>Status</h6>
                                  <label class="switch">
                                    <input
                                      type="checkbox"
                                      [formControlName]="'status'"
                                      (change)="onStatusToggle($event)"
                                      [disabled]="isViewMode"
                                    />
                                    <span class="slider round"></span>
                                  </label>
                                </div>
                              </div>

                              <!-- Role -->
                              <div class="col-xxl-6 col-xl-6 col-md-6 col-12">
                                <div class="input-box">
                                  <h6>
                                    Role<span class="text-danger">*</span>
                                  </h6>
                                  <select
                                    class="form-select"
                                    formControlName="role"
                                    [disabled]="isViewMode"
                                  >
                                    <option value="" disabled>
                                      Select Role
                                    </option>
                                    <option
                                      *ngFor="let role of rolesList"
                                      [value]="role.id"
                                    >
                                      {{ role.name }}
                                    </option>
                                  </select>
                                </div>
                              </div>

                              <!-- Store -->
                              <div class="col-xxl-6 col-xl-6 col-md-6 col-12">
                                <div class="input-box">
                                  <h6>
                                    Store<span class="text-danger">*</span>
                                  </h6>
                                  <select
                                    class="form-select"
                                    formControlName="store"
                                    [disabled]="isViewMode"
                                  >
                                    <option value="" disabled>
                                      Select Store
                                    </option>
                                    <option
                                      *ngFor="let store of storesList"
                                      [value]="store.id"
                                    >
                                      {{ store.name }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>

                  <li [ngbNavItem]="'permissions'" class="nav-item m-0">
                    <button ngbNavLink class="nav-link" type="button">
                      Permissions
                    </button>
                    <ng-template ngbNavContent>
                      <div [formGroup]="permissionForm">
                        <h3 class="p-1">Restriction Presets</h3>
                        <div class="presets mb-3 nav-pills">
                          <button
                            *ngFor="let role of rolesList"
                            type="button"
                            (click)="applyPreset(role)"
                            [class.active]="selectedPreset === role.role_name"
                          >
                            {{ role.role_name }}
                          </button>
                        </div>

                        <div
                          class="management-section nav-pills"
                          *ngFor="let section of managementSections"
                        >
                          <h3 class="p-1">{{ section.title }}</h3>
                          <div class="section">
                            <div
                              [formGroupName]="section.key"
                              class="permissions"
                            >
                              <div class="row gy-3 mb-4">
                                <div
                                  class="switch-wrapper col-sm-3"
                                  *ngFor="let permission of section.permissions"
                                >
                                  <label class="switch">
                                    <input
                                      type="checkbox"
                                      [formControlName]="permission"
                                      [disabled]="isViewMode"
                                    />
                                    <span class="slider round"></span>
                                  </label>
                                  <span class="label-text">{{
                                    permission
                                  }}</span>
                                </div>
                              </div>
                            </div>
                            <div class="description">
                              <p>{{ section.description }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                </ul>
              </div>
              <div class="col-12" [ngbNavOutlet]="nav"></div>
              <div class="pt-3 text-end mt-3" *ngIf="!isViewMode">
                <div class="button-container">
                  <button
                    class="btn btn-animation new-reset-button"
                    type="button"
                    (click)="onReset()"
                  >
                    <i class="ri-loop-right-line"></i> Reset
                  </button>
                  <button
                    class="btn btn-animation new-save-button"
                    type="button"
                    (click)="onUpdate()"
                  >
                    <i class="ri-save-3-line"></i> Update
                  </button>
                </div>
              </div>
            </div>
          </app-card>
        </div>
      </div>
    </div>
  </div>
</form>
