<div class="accordion" id="accordionExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <strong>Search Criteria
                </strong>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

                <div class="row gy-3">
                    <div class="col-xl-3">
                        <div class="input-box">
                            <h6 class="fw-bold p-1">Name</h6>
                            <input type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="input-box">
                            <h6 class="fw-bold p-1">E-Mail</h6>
                            <input type="text" placeholder="E-Mail">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="input-box">
                            <h6 class="fw-bold p-1">Phone</h6>
                            <input type="number" placeholder="Phone">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="input-box">
                            <h6 class="fw-bold p-1">Created Date</h6>
                            <input type="date" placeholder="Created Date">
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <!-- <div class="col-md-6"> -->
                        <div class="input-box">
                            <h6 class="fw-bold p-1">Status</h6>
                            <select class="form-select" name="carlist">
                                @for (item of stausList; track item) {
                                <option value="">{{item}}</option>
                                }
                            </select>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="d-flex flex-wrap gap-2">
                            <button class="btn btn-animation save-button" type="button">
                                <i class="ri-search-line"></i>&nbsp; Search
                              </button>
                              <button class="btn btn-animation reset-button" type="button">
                                <i class="ri-loop-right-line"></i>&nbsp; Reset
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br>

<div class="row">
    <div class="col-sm-12">
        <app-card [cardClass]="'card-table'" [body]="true">
            <div class="title-header option-title d-sm-flex d-block" body>
                <h5>Bookings List</h5>
                <div class="right-options">
                    <ul>
                        <li><span style="font-size: 14px;color: #787c8b;font-weight: 600;">No.of.Records:
                                {{bookings.length}}</span></li>
                      
                        <li>
                            <a class="export-btn"><i class="ri-export-fill"></i>
                                Export</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div body>
                <app-table [search]="false" [hasCheckbox]="false" [tableConfig]="tableConfig"></app-table>
            </div>
        </app-card>
    </div>
</div>