<div class="input-items">
    <div class="row gy-3">
        <div class="col-12">
            <div class="input-box">
                <h6>First Name</h6>
                <input type="text" name="text" placeholder="Enter First Name">
            </div>
        </div>
        <div class="col-12">
            <div class="input-box">
                <h6>Last Name</h6>
                <input type="text" name="text" placeholder="Enter Last Name">
            </div>
        </div>
        <div class="col-12">
            <div class="input-box">
                <h6>Email</h6>
                <input type="text" name="text" placeholder="Enter Email">
            </div>
        </div>
        <div class="col-12">
            <div class="input-box">
                <h6>Password</h6>
                <input type="password" name="password" placeholder="Enter Password">
            </div>
        </div>
        <div class="col-12">
            <div class="input-box">
                <h6>Confirm Password</h6>
                <input type="password" name="password" placeholder="Enter Confirm Password">
            </div>
        </div>
        <div class="col-12">
            <div class="input-box">
                <h6>POS Pin Number</h6>
                <input type="password" name="password" placeholder="Enter Pos Pin Number">
            </div>
        </div>
    </div>
</div>