@for (item of Permission; track item) {
<div class="card-header-1">
    <h5 class="mb-2 mt-2">{{item.title}}</h5>
</div>
<div class="input-items">
    <div class="row gy-3 mb-4">
        @for (items of item.data; track items) {
        <div class="col-md-6">
            <div class="input-box">
                <h6>{{items.title}}</h6>
                <div>
                    <form class="radio-section">
                         @for (subItem of items.subData; track subItem) {
                             <label>
                                 <input type="radio" name="opinion" [checked]="subItem.checked"><i></i>
                                 <span>{{subItem.title}}</span>
                             </label>
                         }
                    </form>
                </div>
            </div>
        </div>
        }
    </div>
</div>
}
