<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <strong>Search Criteria</strong>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <form [formGroup]="searchForm">
          <div class="row gy-3">
            <div class="col-xl-3">
              <div class="input-box">
                <h6 class="fw-bold p-1">Option Set Name</h6>
                <input type="text" class="form-control" placeholder="Name" formControlName="name" />
              </div>
            </div>
            <div class="col-xl-3">
              <div class="input-box">
                <h6 class="fw-bold p-1">Display Name</h6>
                <input type="text" class="form-control" placeholder="Display Name" formControlName="displayName" />
              </div>
            </div>
            <div class="col-xl-3">
              <div class="input-box">
                <h6 class="fw-bold p-1">Status</h6>
                <ng-select
                  [items]="statusList"
                  [searchable]="false"
                  [clearable]="true"
                  placeholder="Select Status"
                  formControlName="status"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-xl-3 d-flex align-items-end">
              <div class="d-flex flex-wrap gap-2">
                <button class="btn btn-animation save-button" type="button" >Search</button>
                <button class="btn btn-animation reset-button" type="button" (click)="reset()">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-12">
    <app-card [cardClass]="'card-table'" [body]="true">
      <div class="title-header option-title d-sm-flex d-block" body>
        <h5>Option Set List</h5>
        <div class="right-options">
          <ul>
            <li>
              <span style="font-size: 14px; color: #787c8b; font-weight: 600"
                >No.of.Records: </span
              >
            </li>
            <li (click)="createOptionSet()">
              <a class="export-btn"><i class="ri-add-box-fill"></i> Create Option Set</a>
            </li>
            <li>
              <a class="export-btn"><i class="ri-export-fill"></i> Export</a>
            </li>
          </ul>
        </div>
      </div>

      <div body>
        <div style="max-height: 400px; overflow: auto">
           <!-- <ag-grid-angular class="ag-theme-alpine font-family my-grid" style="width: 100%" [columnDefs]="tableConfig"
            [rowData]="optSetDetails" [domLayout]="'autoHeight'" [pagination]="true" [paginationPageSize]="10"
            [gridOptions]="gridOptions" [suppressColumnVirtualisation]="true" (cellClicked)="onCellClicked($event)"
            [defaultColDef]="{ flex: 1, minWidth: 100, sortable: true }">
          </ag-grid-angular> -->
            <ag-grid-angular
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowData]="optSetDetails"
            [domLayout]="'autoHeight'"
            [suppressColumnVirtualisation]="true" [pagination]="true" [paginationPageSize]="15"
            [defaultColDef]="{ flex: 1, minWidth: 100, sortable: true }"
          
          >
          </ag-grid-angular>
        </div>
      </div>
    </app-card>
  </div>
</div>
