<div class="media profile-media">
    
    <div class="user-name-hide media-body">
        @if(userDetails.store_name){
         <span><b>Store Name: </b>{{ userDetails.store_name }}</span><br>
        }
        <span>User Name: {{ userDetails.first_name }} {{ userDetails.last_name }}</span>
        <p class="mb-0 font-roboto">Role : {{ userDetails.role_id ==1?'Admin':userDetails.role_id ==3?'POS':'Manager' }}<i class="middle ri-arrow-down-s-line"></i></p>
       
    </div>
    <img class="user-profile rounded-circle" [src]="userDetails.profiles" alt="">
</div>
<ul class="profile-dropdown onhover-show-div">
    <li>
        <a [routerLink]="['/users/all-users']">
            <app-feather-icons [icons]="'users'"></app-feather-icons>
            <span>Profile</span>
        </a>
    </li>
    <!-- <li>
        <a [routerLink]="['/orders/order-list']">
            <app-feather-icons [icons]="'archive'"></app-feather-icons>
            <span>Orders</span>
        </a>
    </li> -->
    <!-- <li>
        <a [routerLink]="['/support-ticket']">
            <app-feather-icons [icons]="'phone'"></app-feather-icons>
            <span>Spports Tickets</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/settings/profile-setting/general']">
            <app-feather-icons [icons]="'settings'"></app-feather-icons>
            <span>Settings</span>
        </a>
    </li> -->
    <li>
        <a (click)="logOut()">
            <app-feather-icons [icons]="'log-out'"></app-feather-icons>
            <span>Log out</span>
        </a>
    </li>
</ul>