<div class="row">
  <div class="container my-3">
    <div class="card shadow-sm rounded-4 px-3 py-3">
      <div class="row align-items-center">
        <div class="col-md-2">
          <strong class="text-dark">Search Range</strong>
        </div>
        <div class="col-md-3">
          <div class="">
            <strong>
              Selected Range: &nbsp;&nbsp;
              <span>
                <div *ngIf="fromDate && toDate">
                  {{ fromDate | date : "mediumDate" }} -
                  {{ toDate | date : "mediumDate" }}
                </div>
              </span>
            </strong>
          </div>
        </div>
        <div class="col-md-7">
          <div class="input-group d-flex justify-content-end">
            <div class="me-4">from date</div>
            <div>to date</div>
            <div class="ms-3 mt-1">
              <button class="btn btn-warning" (click)="submit()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-4">
  <app-top-chart [data]="TotalSale"></app-top-chart>
</div>
<div class="col-xl-4">
  <app-top-chart [data]="TotalProfit"></app-top-chart>
</div>
<div class="col-xl-4">
  <app-top-chart [data]="CustomerRate"></app-top-chart>
</div>

<div class="row">
  <div class="col-xl-6">
    <app-sales-summary-chart> </app-sales-summary-chart>
  </div>
  <div class="col-xl-6">
    <app-sales-purchase-chart> </app-sales-purchase-chart>
  </div>
</div>
