<div class="row mb-3">
    <div class="col-12">
        <ul class="activation">
            <li>
                <div class="icon-state">
                    <label class="switch-xsm mb-0">
                        <input type="checkbox" id="flexSwitchCheckDefault-7"><span class="slider round"></span>
                    </label>
                    <label class="form-check-label" for="flexSwitchCheckDefault-7">Status</label>
                </div>
                <p>
                    <i class="ri-information-line"></i>
                    *Enable automatic acceptance of Status.
                </p>
            </li>
            <li>
                <div class="icon-state">
                    <label class="switch-xsm mb-0">
                        <input type="checkbox" id="flexSwitchCheckDefault-8" checked><span class="slider round"></span>
                    </label>
                    <label class="form-check-label" for="flexSwitchCheckDefault-8">Category
                        Based Commission</label>
                </div>
                <p>
                    <i class="ri-information-line"></i>
                    *Enable the functionality to apply
                    commissions based on product categories. To
                    configure, navigate to the Product Category
                    module and set the respective commission
                    rates.
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="row gy-4 wallet-box">
    <div class="col-md-9">
        <h5>Min Withdraw Amount :</h5>
        <ul>
            <li>
                <div class="input-group">
                    <span class="input-group-text"><i class="ri-copper-diamond-line"></i></span>
                    <input type="number" class="form-control" placeholder="Enter Min Withdraw Amount"
                        aria-label="Amount (to the nearest dollar)">
                </div>
            </li>
            <li>
                <span>*Payout Minimum for Vendors:
                    Specify the min amount vendors can
                    request for withdrawal.</span>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <h5>Commission Rate :</h5>
        <ul>
            <li>
                <div class="input-group">
                    <span class="input-group-text">%</span>
                    <input type="number" class="form-control" placeholder="Enter Default Commission Rate"
                        aria-label="Amount (to the nearest dollar)">
                </div>
            </li>
            <li>
                <span>*Set the rate at which admin
                    receives a commission from vendor
                    earnings.</span>
            </li>
        </ul>
    </div>
</div>