<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <app-card [header]="true" [body]="true">
                    <h5 header>Category Information</h5>
                    <div class="input-items" body>
                        <div class="row gy-3">
                            <div class="col-12">
                                <div class="input-box">
                                    <h6>Attribute Name</h6>
                                    <input type="text" name="text" placeholder="Enter Attribute Name">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-box">
                                    <h6>Attribute Value</h6>
                                    <input type="number" name="number" placeholder="Enter Attribute Value">
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="javascript:void(0)" class="btn restaurant-button">Save</a>
                            </div>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </div>
</div>