<div class="modal-content modal-lg">
  <div class="modal-header border-bottom pb-2 flex-column align-items-start">
    <h5 class="modal-title fw-bold">Time Sheet</h5>
    <button type="button" class="btn-close" (click)="modal.dismissAll()">
      <i class="ri-close-line"></i>
    </button>
  </div>

  <div class="modal-tabs">
    <button
      class="tab"
      [class.active]="activeTab === 'login'"
      (click)="switchTab('login')"
    >
      Login
    </button>
    <button
      class="tab"
      [class.active]="activeTab === 'break'"
      (click)="switchTab('break')"
    >
      Break
    </button>
    <button
      class="tab"
      [class.active]="activeTab === 'logout'"
      (click)="switchTab('logout')"
    >
      LogOut
    </button>
  </div>

  <div class="modal-body">
    <div *ngIf="activeTab === 'login' || activeTab === 'logout'">
      <div class="time-header">
        <div class="date-part">
          <span class="year fs-5">{{ selectedDate?.day }} {{ selectedDate?.year }} {{ getMonthName(selectedDate?.month) }}</span
          ><br />
         
        </div>

        <div class="time-part fs-5">
          <span
            [class.inactive-text]="pickingMode !== 'hours'"
            (click)="setPickingMode('hours')"
            class="clickable-unit"
          >
            {{ selectedHour | number: "2.0" }}
          </span>
          <span class="separator">:</span>
          <span
            [class.inactive-text]="pickingMode !== 'minutes'"
            (click)="setPickingMode('minutes')"
            class="clickable-unit"
          >
            {{ selectedMinute | number: "2.0" }}
          </span>

          <div class="ampm-group">
            <span [class.active-ampm]="!isPM" (click)="toggleAMPM(false)"
              >AM</span
            >
            <span [class.active-ampm]="isPM" (click)="toggleAMPM(true)"
              >PM</span
            >
          </div>
        </div>
      </div>

      <div *ngIf="!showClock" class="calendar-show">
        <ngb-datepicker
          [(ngModel)]="selectedDate"
          (dateSelect)="selectDate($event)"
        ></ngb-datepicker>
      </div>

      <div *ngIf="showClock" class="clock-wrapper">
        <div class="clock-label">Select {{ pickingMode | titlecase }}</div>
        <div class="clock">
          <div class="center-dot"></div>
          <div
            *ngFor="
              let n of pickingMode === 'hours' ? hourNumbers : minuteNumbers
            "
            class="minute"
            [style.transform]="
              'rotate(' +
              n.angle +
              'deg) translateY(-100px) rotate(-' +
              n.angle +
              'deg)'
            "
          >
            {{ n.value }}
          </div>
          <div
            class="hand"
            [style.transform]="'rotate(' + handAngle + 'deg)'"
            (mousedown)="startDrag($event)"
          >
            <div class="hand-circle"></div>
          </div>
        </div>
        <div class="selected-time-display mt-3 fw-bold">
          {{ currentTime }}
        </div>
      </div>
    </div>

    <div *ngIf="activeTab === 'break'">
      <div class="row mt-3">
        <div class="col-12">
          <ng-select
            [items]="breakTimings"
            bindLabel="label"
            bindValue="value"
            placeholder="Select Break Time"
            [(ngModel)]="selectedBreakTime"
          ></ng-select>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer border-0">
    <button class="btn btn-light px-4" (click)="modal.dismissAll()">
      Cancel
    </button>
    <button class="btn btn-dark px-4" (click)="saveTime()">Save</button>
  </div>
</div>


