$primary-orange: #fd7e14;
.info-bar-preview {
  width: 50%;
}

.info-bar-sample {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: bold;
}

.info-bar-sample.bg-warning {
  background-color: $primary-orange !important;
}
.btn{
     background-color: $primary-orange !important;
}
.info-bar-sample.bg-info {
  background-color: #0dcaf0 !important;
}

.info-bar-sample.bg-success {
  background-color: #198754 !important;
}

.info-bar-sample.bg-danger {
  background-color: #dc3545 !important;
}

.info-bar-sample i {
  margin-right: 0.5rem;
}
/* Add this to your info-bar.component.scss file */
.info-bar-preview {
  border-color: #dee2e6 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.info-bar-preview-content {
  border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.info-bar-sample {
  padding: 0.5rem 1rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  color: #fff;
}

.info-bar-sample i {
  margin-right: 0.5rem;
}

.nav-tabs .nav-link.active {
  color: #000;
  border-color: #dee2e6 #dee2e6 #fff;
}