/**=====================
    Checkout CSS start
==========================**/
.checkout {
	.checkout-details {
		background-color: #f9f9f9;
		border: 1px dashed #dddddd;
		padding: 40px;

		.order-place {
			margin-top: 15px;
		}

	}
}


/**=====================
    Checkout CSS Ends
==========================**/