/**=====================
      contacts CSS Start
==========================**/
#deletemodal {
    .modal-header {
        border-bottom: none;

        .delete-data {
            span {
                svg {
                    vertical-align: middle;
                    margin-right: 15px;
                }
            }
        }
    }
}
/**=====================
      contacts CSS Ends
  ==========================**/