.categories-section {
    position: relative;
  
    .category-top {
      background-color: $white;
      z-index: 1;
      padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
      border-radius: 13px;
      box-shadow: 0 15px 60px -20px rgba(0, 0, 0, 0.1);
      margin-top: calc(-45px + (-70 - -45) * ((100vw - 320px) / (1920 - 320)));
    }
  
    .item-2 {
      position: absolute;
      top: 30px;
      right: -40px;
  
      @media (max-width: 1250px) {
        display: none;
      }
    }
  
    .categories-style {
      position: relative;
      margin-top: -10px;
      .owl-carousel.owl-drag .owl-item{
        padding-right: 20px;
      } 
      .owl-carousel{
        .owl-nav {
          margin: 0;
          [class*=owl-] {
            padding: 0;
            display: unset;
            margin: 0;
          }
        }
      }
      .food-categories {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))) calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));
        margin-top: 10px;
        border-radius: 8px;
        background-color: rgba($light-background, 0.7);
        transition: 0.4s ease;
        border: 1px solid transparent;
  
        &:hover {
          transform: translateY(-5px);
          transition: 0.4s ease;
          background: rgba($primary-color, 0.08);
          border: 1px dashed rgba($primary-color, 0.3);
  
          h4 {
            color: $secondary-color !important;
            transition: 0.4s ease;
            font-weight: 500;
          }
        }
  
        @media (max-width: 420px) {
          height: 100%;
          width: 100%;
        }
  
        &.food {
          background: $white;
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06);
          border-radius: 8px;
        }
  
        .categories-img {
          width: 100%;
          object-fit: contain;
          height: 66px;
        }
  
        h4 {
          display: block;
          margin-top: 10px;
          transition: 0.4s ease;
          color: $theme-font-color;
        }
      }
  
      h6 {
        color: $theme-font-color;
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  
      &.category-inline {
        .food-categories {
          align-items: center;
          gap: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
  
          .categories-img {
            object-fit: contain;
            height: calc(35px + (45 - 35) * ((100vw - 320px) / (1920 - 320)));
            width: calc(35px + (45 - 35) * ((100vw - 320px) / (1920 - 320)));
          }
  
          h4 {
            display: block;
            margin-top: 0;
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;
          }
        }
      }
    }
  
    &.category-outer {
      .categories-style {
        .food-categories {
          margin-top: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
          padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
  
          .categories-img {
            margin-top: -40px;
            margin-bottom: 0px;
          }
        }
      }
    }
}
// .input-box {
//   dropzone {
//     .dz-multiple {
//       .dz-processing {
//         z-index: 0;
//         position: absolute;
//         left: 16px;
//         top: 5px;
//         .dz-details {
//           text-overflow:ellipsis;
//           overflow:hidden;
//           display: -webkit-box !important;
//           -webkit-line-clamp: 1;
//           -webkit-box-orient: vertical;
//           white-space: normal;
//         }
//       }
//     }
//   }
// }
.welcome-card {
    background-image: url(../../images/dashboard/welcome-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 392px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    div {
        text-align: center;
        padding: 30px;
        @media (max-width: 1600px) {
          padding: 30px 10px;
        }
        h5 {
            color: $theme-font-color;
            margin-bottom: 6px;
            @media (max-width: 1600px) and (max-width:1200px) {
              font-size: 14px;
            }
        }
        h3 {
            font-size: calc(17px + (28 - 17) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: 14px;
            color: $secondary-color;
            font-weight: 600
        }
        .offer {
            position: absolute;
            top: 0;
            right: 0;
            width: 90px;
        }
    }
}   

.widgets-card{
  background-image: url(../../../assets/images/dashboard/wave1.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 991px) {
    padding-bottom: 0;
  }
  h2 {
    color: $theme-font-color;
    margin-top: 12px;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    @media (max-width: 991px) {
      margin-top: 0;
    }
    @media (max-width: 991px) and (min-width: 768px) {
      font-size: 20px;

    }
  }
}
.trending-orders{
  background-color: transparent;
  margin-bottom: 30px;
  .owl-carousel.owl-drag .owl-item{
    padding-right: 20px;
  }
  .trnding-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px dashed rgba($border-color, 0.6);
    h5 {
      font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 600;
      color: $theme-font-color;
    }
    a {
      padding: 6px 10px;
      background: $gradient-fill !important;
      border-radius: 4px;
      color: $white;
      font-weight: 500;
      cursor: pointer;
      i {
        color: $white;
        font-size: 20px;
        vertical-align: -2px;
      }
    }
  }
  .trending-box{
    position: relative;
    transition: all .4s ease-in-out;
    background: $white;
    border-radius: 18px;
    .trending-items{
      text-align: center;
      transition: all .4s ease-in-out;
      >div {
        margin-top: 15px;
        h5 {
          font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
          color: $theme-font-color;
          font-weight: 500;
          margin-bottom: 8px;
        }
        >h6 {
          font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 600;
          color: $theme-font-color;
          margin-bottom: 10px;
        }
      }
      >p {
        text-align: left;
        margin: auto;
        color: $theme-body-font-color;
        margin-bottom: 8px;
      }
      >span {
        padding: 0px 10px;
        background-color: rgba($light-background, 0.7);
        border: 1px dashed $border-color;
        border-radius: 4px;
        img {
          width: 40px;
        }
      }
      .product-img{
        transition: all .4s ease-in-out;
        border-radius: 4px;
      }
      .rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 0;
        border-top: 1px dashed $border-color;
        li {
          width: 100%;
          p {
            text-align: right !important;
            margin-bottom: 0;
            i {
              color: $primary-color !important;
            }
            color: $theme-font-color;
          }
          >h6 {
            font-weight: 400;
            color: $theme-font-color;
            span {
              font-weight: 600;
            }
          }
          &:first-child{
            text-align: left;
          }
          &:last-child{
            text-align: right;
          }
        }
      }
      .marquee-box{
        background-color: rgba($primary-color, 0.1);
        display: block;
        overflow: hidden;
        border-radius: 4px;
        .marquee-discount {
          display: flex;
          align-items: center;
          gap: 12px;
          white-space: nowrap;
          position: relative;
          transition: 0.4s ease;
  
          li {
            + li {
              opacity: 0;
              visibility: hidden;
              transition: 0.4s ease;
            }
          }
  
          .discount-info {
            color: $theme-font-color;
            font-weight: 500;
            display: flex;
            align-items: center;
  
            img {
              width: 40px;
            }
          }
        }
      }
    }
    &:hover {
      .trending-items{
        .marquee-box{
          .marquee-discount {
            animation: marquee-discount 8s linear infinite;

            li {
              + li {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }
    .owl-carousel .owl-item{
      margin-right: 20px;
    }
  }
}
.rating {
  p {
    span {
      color: $star-color;
    }
  }
}
.user-table{
  margin-bottom: 0;
  thead {
    tr {
      th {
        &:nth-child(4 ) {
          @media (max-width: 1500px) and (min-width: 1200px) {
            display: none;
          }
        }
      }
    }
  }
  tbody{
    tr {
      td{
        padding: 10px 14px !important;
        vertical-align: middle;
        &:nth-child(4 ) {
          @media (max-width: 1500px) and (min-width: 1200px) {
            display: none;
          }
        }
        &:nth-child(2) {
          @media (max-width: 1500px) and (min-width: 1200px) {
            min-width: unset !important;
          }
        }
        .completed {
          padding: 6px 10px;
          color: rgba($primary-color, 1);
          border-radius: 4px;
          text-transform: capitalize;
        }
        .pending {
          padding: 6px 10px;
          color: rgba($secondary-color, 1);
          border-radius: 4px;
          text-transform: capitalize;
        }
        .table-image{
          display: flex;
          align-items: center;
          gap: 12px;
          img {
            width: 46px;
            border-radius: 4px;
          }
          h5 {
            font-weight: 500;
            @media (max-width: 1500px) and (min-width: 1200px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
.special-items-box{
  padding: 8px;
  border: 1px dashed rgba($border-color, 0.6);
  background-color: rgba($light-background, 0.6);
  border-radius: 4px;
  h5 {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    padding-bottom: 8px;
    color: $theme-font-color;
  }
  .dish-img{
    // background-image: url(../../../assets/images/dashboard/burger.jpg);
    background-image: url(../../images/dashboard/burger.jpg);
    background-size: cover;
    height: 206px;
    border-radius: 8px;
    background-position: top;
    @media (max-width: 1300px) {
      height: 190px;
    }
    @media (max-width: 1246px) {
      height: 172px;
    }
    @media (max-width: 1246px) {
      height: 155px;
    }
  }
  h6 {
    margin: 8px 0 12px;
    color: $theme-body-font-color;
    font-weight: 500;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li{
      color: $theme-font-color;
      font-weight: 500;
      i {
        color: $danger-color;
      }
    }
  }
}
.special-product-1 {
  @media (max-width: 1399px) and (min-width: 1200px) {
    display: none;
  }
}
@keyframes rotate-smooth {
  0% {
      transform: rotate(0);
  }

  100% {
      transform: rotate(360deg);
  }
}
@keyframes marquee-discount {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes marquee-discount-reverse {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}