/**=====================
     social app css start
==========================**/
.user-profile {
    .hovercard {
        .socialheader {
            // background: url(../images/social-app/social-image.png);
        }

        .user-image {
            .share-icons {
                position: absolute;
                right: 100px;
                top: -27px;

                li {
                    display: inline-block;
                    margin-right: 10px;

                    .social-icon {
                        @include pseudowh($width: 50px, $height: 50px);
                        text-align: center;
                        @include flex_common;
                        vertical-align: middle;
                        border-radius: 100%;

                        i {
                            color: $white;
                            font-size: 25px;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .card-footer {
        >div {
            h3 {
                font-size: 16px;
            }
        }
    }
}

/**=====================
       social app CSS end
  ==========================**/