.order-card,
.order-card-primary {
  background: #ffffff;
  border-radius: 10px;
  padding: 12px;
//   width: 220px;
  height: 110px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative; /* Important for badge */
  width: 100% !important;

}

.order-card-primary {
  background: linear-gradient(135deg, #d81b60, #8e24aa);
  color: #fff;
  border-radius: 10px;
}

.order-card-container {
  display: flex;
  gap: 16px;
  width: 100% !important;
}

.order-icon,
.order-icon-primary {
  font-weight: bold;
  font-size: 14px !important;
//   background: #f1f1f1;
  background: #f6e9f2 !important;
  padding: 8px 14px;
  border-radius: 10px;
  color: #b52a5e;
}

.order-icon-primary {
//   background: rgba(255, 255, 255, 0.2);
  font-size: 14px !important;
//   color: #fff;
  color: #b52a5e;

}

.badge {
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 12px;
}

.see-all {
  font-weight: bold;
  color: #d81b60;
  text-decoration: none;
  font-size: 14px;
}

.see-all:hover {
  text-decoration: underline;
}
.card:hover {
    background-color: #f6e9f2; /* Light grey when hovered */
    transition: background-color 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Shows hand cursor */
    border-color: #f393d6;
  }

  .modal-overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050 !important;
  }
  .button-border{
    border-color: #f6a700 !important;
 
   }
  .search-icon{
    display: flex;
     align-items: center; 
     width: 100%; 
     gap: 8px; 
     border: 1px solid #ddd; 
     padding: 6px 12px; 
     border-radius: 4px;
  }
  .modal-content {
    font-family: 'Segoe UI', sans-serif;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border: none;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
  }
  