.right-options-height{
    height: 40px !important;
    // padding: 3px !important;
}
.icon-box {
  width: 30px;              /* fixed size box */
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  .i {
    margin-right: 0px !important;
}
}
