<div class="row">
    <div class="col-12">
        <app-card [header]="true" [body]="true" [cardHeaderClass]="'card-no-border'">
            <!-- <h5 header>Setting</h5> -->
            <div header class="title-header option-title justify-content-start">
                <h5>Menu</h5>
            
                <div class="right-options ms-auto">
                    
                    <ul>
                     
                        <li>
                            <a class="btn btn-dashed" (click)="insertMenu()">Add Menu Type</a>
                        </li>
                        <li>
                            <a class="btn btn-dashed" (click)="insertCategory()">Add Category</a>
                        </li>
                        <li>
                            <a class="btn btn-dashed" (click)="insertDish()">Add Dish</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" body>
                <div class="col-xxl-3 col-xl-4">
                    
                    <ul class="nav setting-main-box sticky theme-scrollbar" style="background-color: rgb(240 240 240);" >
                        <li style="font-weight: 500;"> Menu Type:</li>
                        <li class="position-relative d-flex align-items-center">
                            <!-- <select class="form-select me-2">
                              @for(item of menuList; track item; ) {
                                <option>{{ item.name }}</option>
                              }
                            </select>
                           -->
                           <select class="form-select me-2" [(ngModel)]="selectedMenuId" (change)="selectedTabIndex = 0">
                            @for(item of menuList; track item) {
                              <option [value]="item.id">{{ item.name }}</option>
                            }
                          </select>
                            <!-- Icons -->
                            <i class="ri-edit-line me-2 cursor-pointer"></i>
                            <i class="ri-delete-bin-line cursor-pointer"></i>
                          </li>
                          @for (item of tabs; track item; let i = $index) {
                            <li>
                              <button class="nav-link" 
                                      [class.active]="selectedTabIndex === i"
                                      (click)="selectedTabIndex = i">
                                {{ item.label }}
                              </button>
                            </li>
                          }
                          
                          
                     
                    </ul>
                </div>
                <div class="col-xxl-9 col-xl-4">
                <div  class="row row-cols-xl-9 row-cols-md-5 row-cols-sm-3 row-cols-2 g-sm-3 g-2 media-library-sec ratio_landscape">
                    <!-- <div class="setting-box"> -->
                        @for (item of MediaLibrary; track item) {
                            <div>
                                <div class="library-box">
                                    <input type="checkbox" [id]="item.id" />
                                    <label [for]="item.id">
                                        <div class="b_size_content bg-size" [style.background-image]="'url('+item.image_url+')'" style="background-size: cover;
                                        background-position: center center;
                                        background-repeat: no-repeat;
                                        display: block;">
                                            <img [src]="item.image_url" class="img-fluid bg-img bg_size_content" alt="" style="display: none;">
                                       
                                        </div>
                                     
                                        <div class="dropdown" (click)="open(item)" (clickOutside)="item.active = false">
                                            <a href="javascript:void(0)" [class.show]="item.active">
                                                <i class="ri-more-fill"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end" [class.show]="item.active" style="position: absolute;inset: 0px 0px auto auto; margin: 0px;transform: translate(-5px, 22px);">
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)" (click)="openPopup()">
                                                        <i class="ri-download-2-line me-2"></i>Action</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                                                        <i class="ri-delete-bin-line me-2"></i>Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </label>
                                    <span>{{item.name}} </span>
                                   
                                </div>
                            </div>
                            }
                    <!-- </div> -->
                </div></div>
            </div>
            <button class="btn save-button" type="submit">Save</button>
        </app-card>
    </div>
</div>