.modal-content {
  border-radius: 8px;
}

.nav-link {
  border-radius: 0;
//   padding: 12px 16px;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.nav-link.active {
  background-color: #e5e5e6;
//   border-left: 4px solid orange;
  color: #000 !important;
}
.btn-outline-warning,
.btn-outline-danger {
  border-width: 1.5px;   /* thinner border */
  padding: 6px 14px;     /* better spacing */
  font-weight: 600;      /* slightly bolder text */
  border: 1.5px solid #ffcc00;
  font-size:16px 
}
.save-button-pay {
    float: right;
    // background: $gradient-fill;
    color: white;
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    // margin-top: 20px;
    border: 1px solid #ef2917;
    background: #ef2917;    
    border-radius: 10px;
    &:hover {
        color: #ef2917;
        border: 1px solid #ef2917;;
        background:#fef4e8;;  
        
    }
    
}
// .div-pointer{
//   cursor: pointer;
// }
.badge {
  transition: all 0.4s ease; /* Smooth transition for background, border, text */
}
.badge-pending {
  background-color: #ffc107 !important; /* Bootstrap warning */
  color: #212529 !important;
  border: 1px solid #ffc107;
}

/* Success: green with white text and border */
.badge-success {
  background-color: #28a745 !important; /* Bootstrap success */
  color: #fff !important;
  border: 1px solid #fff;
}

/* Failed: red with white text and border */
.badge-failed {
  background-color: #dc3545 !important; /* Bootstrap danger */
  color: #fff !important;
  border: 1px solid #fff;
}


.fullscreen-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}
.close-popup {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 36px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;

}.loader-overlay {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.loader-circle {
  width: 30px;
  height: 30px;
  border: 3px solid #e0e0e0; /* light gray border */
  border-top: 3px solid #F07054; /* green progress color */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
