.modal-content {
  border-radius: 8px;

}

.nav-link {
  border-radius: 0;
//   padding: 12px 16px;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.nav-link.active {
  background-color: #e5e5e6;
//   border-left: 4px solid orange;
  color: #000 !important;
}
.btn-outline-warning,
.btn-outline-danger {
  border-width: 1.5px;   /* thinner border */
  padding: 6px 14px;     /* better spacing */
  font-weight: 600;      /* slightly bolder text */
  border: 1.5px solid #ffcc00;
  font-size:16px 
}
