.modal-content {
  border-radius: 8px;
}

.nav-link {
  border-radius: 0;
//   padding: 12px 16px;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.nav-link.active {
  background-color: #e5e5e6;
//   border-left: 4px solid orange;
  color: #000 !important;
}
.btn-outline-warning,
.btn-outline-danger {
  border-width: 1.5px;   /* thinner border */
  padding: 6px 14px;     /* better spacing */
  font-weight: 600;      /* slightly bolder text */
  border: 1.5px solid #ffcc00;
  font-size:16px 
}
.save-button-pay {
    float: right;
    // background: $gradient-fill;
    color: white;
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    // margin-top: 20px;
    border: 1px solid #ef2917;
    background: #ef2917;    
    border-radius: 10px;
    &:hover {
        color: #ef2917;
        border: 1px solid #ef2917;;
        background:#fef4e8;;  
        
    }
    
}
.div-pointer{
  cursor: pointer;
}



