::ng-deep.status-dropdown {
    width: 100%;
    height: 30px;
    padding: 2px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    color: #000;
    font-size: 13px;
  }
::ng-deep .status-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100%;
    // height: 35px; /* or whatever you want */
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
    position: relative;
    // left: 20px;
  }
  
  ::ng-deep .status-active {
    background-color: #28a745 !important;
    color: #28a745 !important;
    border: 1px solid #28a745;
    width: 213%;
    height: 30px;
  }
  
  ::ng-deep .status-no-stock {
    background-color: #fff3e0;
    color: #ff9800;
    border: 1px solid #ff9800;
    width: 150%;
    height: 30px;
  }
  
  ::ng-deep .status-hide {
    background-color: #ffebee;
    color: #f44336;
    border: 1px solid #f44336;
    width: 290%;
    height: 30px;
  }
  
  ::ng-deep .pos-badge{
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100%;
    // height: 35px; /* or whatever you want */
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
    position: relative;
    // left: 5px;
  }
  ::ng-deep .hide-pos {
    background-color: #fff3e0;
    color: #ff9800;
    border: 1px solid #ff9800;
    width: 130%;
    height: 30px;
  }
  
  ::ng-deep .show-pos {
    background-color: #ffebee;
    color: #f44336;
    border: 1px solid #f44336;
    width: 130%;
    height: 30px;
  }



.new-reset-button {
    float: right;
    background: linear-gradient(to right, rgba(#F2A93E, 1),rgba(#F07054, 1) );;
    color: #b1743c;
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    margin-top: 20px;
    border: 1px solid #b1743c;
    background: #fff2cd;  
    border-radius: 10px;
    &:hover {
        color: #000;;
        border: 1px solid #b1743c;
        background-color:#fff2cd;  
        
    }
    
}
.new-export-btn {
    padding: 8px 12px;
    // background-color: rgba($light-background, 1);
    // border: 1px solid $border-color;
    color: #fff !important;
    border-radius: 10px !important;
    border: 1px solid #b1743c !important;
    background: #b1743c !important;  
    cursor: pointer !important;
  }

.ag-row .ag-cell {
  display: flex;
  align-items: center;
  justify-content: start;
}


input:focus{
  // border: 1px solid #000 !important;
  // box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
  outline: none !important;
}