<div class="accordion" id="accordionExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong>Search Criteria
        </strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show"
           aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         
            <div class="row gy-3">
                <div class="col-xl-3">
                    <div class="input-box">
                        <h6>Store Name</h6>
                        <input type="text" placeholder="Store Name">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="input-box">
                        <h6>E-Mail</h6>
                        <input type="text" placeholder="E-Mail">
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="input-box">
                        <h6>Address</h6>
                        <input type="text" placeholder="E-Mail">
                    </div>
                </div>
                <div class="col-xl-3">
                    <!-- <div class="col-md-6"> -->
                        <div class="input-box">
                            <h6>Status</h6>
                            <select class="form-select" name="carlist">
                                @for (item of stausList; track item) {
                                <option value="">{{item}}</option>
                                }
                            </select>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="d-flex flex-wrap gap-2">
                      <button class="btn save-button" type="button">Search</button>
                      <button class="btn reset-button " type="button">Reset</button>
                    </div>
                  </div>
                  
            </div>

          

        </div>
      </div>
    </div>

  </div>
<br>


<div class="row">
    <div class="col-sm-12">
        <app-card [cardClass]="'card-table'" [body]="true">
            <div class="title-header option-title d-sm-flex d-block" body>
                <h5>Staff List</h5>
                <div class="right-options">
                    <ul>
                        <li><span style="font-size: 14px;color: #787c8b;font-weight: 600;">No.of.Records:50</span></li>
                        <li>
                            <a  class="export-btn"><i class="ri-export-fill"></i>   Export</a>
                        </li>
                      
                    </ul>
                </div>
            </div>
            <div body>
                <app-table [search]="false" [hasCheckbox]="false" [tableConfig]="tableConfig"></app-table>
            </div>
        </app-card>
    </div>
</div>