.new-save-button {
    float: right;
    background: linear-gradient(to right, rgba(#F2A93E, 1),rgba(#F07054, 1) );;
    color: #fff;
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    margin-top: 20px;
    border: 1px solid #b1743c;
    background: #b1743c;  
    border-radius: 10px;
    &:hover {
        color: #b1743c;;
        border: 1px solid #b1743c;
        background:#fff;  
        
    }
    
}
.new-reset-button {
    float: right;
    background: linear-gradient(to right, rgba(#F2A93E, 1),rgba(#F07054, 1) );;
    color: #b1743c;
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    margin-top: 20px;
    border: 1px solid #b1743c;
    background: #fff2cd;  
    border-radius: 10px;
    &:hover {
        color: #000;;
        border: 1px solid #b1743c;
        background-color:#fff2cd;  
        
    }
    
}
.new-export-btn {
    padding: 8px 12px;
    // background-color: rgba($light-background, 1);
    // border: 1px solid $border-color;
    color: #fff !important;
    border-radius: 10px !important;
    border: 1px solid #b1743c !important;
    background: #b1743c !important;  
    cursor: pointer !important;
  }
