<div class="input-items">
    <div class="row gy-3">
        <div class="col-md-6">
            <div class="input-box">
                <h6>Opening Time</h6>
                <input type="time" name="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-box">
                <h6>Closing Time</h6>
                <input type="time" name="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-box">
                <h6>Cost</h6>
                <input type="number" name="number">
            </div>
        </div>
        <div class="col-12">
            <div class="input-box">
                <h6>Image</h6>
                <span class="choose-img-box" (click)="commonService.insertMedia()">
                    <i class="ri-add-circle-line"></i>
                    Choose image </span>
            </div>
        </div>
    </div>
</div>