// .font-family{
//     font-family: 'Trebuchet MS', sans-serif !important;
//     //  font-family: 'Rumer', sans-serif !important;
// }

//   input::placeholder {
//     font-family: 'Trebuchet MS', sans-serif !important;
//     font-size: 14px !important; /* optional */
//   }
  