<form [formGroup]="storeForm">
  <app-card [header]="true" [body]="true">
    <!-- <h5 header class="font-family">Add Store</h5> -->
     <div header class="title-header option-title justify-content-start right-options-height">
    <h5 header class="font-family">Add Store</h5>
          <div class="right-options ms-auto">
                    <ul>                
                        <li>
                              <i class="ri-arrow-left-circle-line" style="font-size: 27px; cursor: pointer;" (click)="goBack()"></i>
                        </li>
                    </ul>
                </div>
                </div>
    <div class="input-items font-family" body>
      <div class="row gy-1">

        <!-- Store Name -->
        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Store Name<span class="text-danger">*</span></h6>
            <input type="text" formControlName="storeName" placeholder="Enter Store Name"  (input)="capitalizeWords_firstName($event)" (keypress)="allowOnlyAlphabets($event)" (keydown)="preventLeadingSpace($event)" />
            @if (storeForm.get('storeName')?.touched && storeForm.get('storeName')?.errors?.['required']) {
              <div class="text-danger">Store Name is required</div>
            }
          </div>
        </div>

        <!-- Email -->
        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">E-Mail<span class="text-danger">*</span></h6>
            <input type="email" formControlName="email" placeholder="Enter E-Mail" />
            @if (storeForm.get('email')?.touched && storeForm.get('email')?.hasError('required')) {
                              <div class="text-danger">Email is required</div>
                              }
                              @if ((storeForm.get('email')?.touched ||storeForm.get('email')?.dirty) &&
                              storeForm.get('email')?.hasError('pattern')) {
                              <div class="text-danger">Enter valid email is required</div>
                              }
          </div>
        </div>

        <!-- Phone -->
        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Phone Number<span class="text-danger">*</span></h6>
            <input type="text" formControlName="phoneNumber" placeholder="Enter Phone Number" mask="(00)-000 0000" maxlength="16" />
             @if (storeForm.get('phoneNumber')?.touched && storeForm.get('phoneNumber')?.hasError('required')) {
                              <div class="text-danger">Phone Nuber is required</div>
                              }
                            
          </div>
        </div>

        <!-- Password -->
        <div class="col-md-6">
      <div class="input-box">
  <h6 class="f-w-600 p-1">Password<span class="text-danger">*</span></h6>
  <input 
    type="password" 
    formControlName="password" 
    placeholder="Enter Password" 
    (focus)="showRules = true" 
    (blur)="hideRulesIfEmpty()" 
    (input)="validatePassword()" 
  />
  @if (storeForm.get('password')?.touched && storeForm.get('password')?.errors?.['required']) {
              <div class="text-danger">Password is required</div>
            }
  <!-- Show rules only if password field is touched and not empty -->
  <ul class="password-rules mt-2" *ngIf="showRules && storeForm.get('password')?.value">
    <li *ngIf="!rules.minLength">&#10060; At least 8 characters</li>
    <li *ngIf="!rules.uppercase">&#10060; At least 1 uppercase letter</li>
    <li *ngIf="!rules.lowercase">&#10060; At least 1 lowercase letter</li>
    <li *ngIf="!rules.number">&#10060; At least 1 number</li>
    <li *ngIf="!rules.special">&#10060; At least 1 special symbol</li>
  </ul>
</div>




        </div>

        <!-- Address Fields -->
        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Street Address<span class="text-danger">*</span></h6>
            <input type="text" formControlName="address" placeholder="Enter Street Address" (keydown)="preventLeadingSpace($event)"/>
              @if (storeForm.get('address')?.touched && storeForm.get('address')?.errors?.['required']) {
              <div class="text-danger">Address is required</div>
            }
          </div>
        </div>

        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">City<span class="text-danger">*</span></h6>
            <input type="text" formControlName="city" placeholder="Enter City"  (keydown)="preventLeadingSpace($event)" />
              @if (storeForm.get('city')?.touched && storeForm.get('city')?.errors?.['required']) {
              <div class="text-danger">City is required</div>
            }
          </div>
        </div>

        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">State<span class="text-danger">*</span></h6>
            <input type="text" formControlName="state" placeholder="Enter State"  (keydown)="preventLeadingSpace($event)"/>
              @if (storeForm.get('state')?.touched && storeForm.get('state')?.errors?.['required']) {
              <div class="text-danger">State is required</div>
            }
          </div>
        </div>

        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Postal Code<span class="text-danger">*</span></h6>
            <input type="text" formControlName="postalCode" maxlength="10" (keypress)="allowOnlyNumbers($event)"  placeholder="Enter Postal Code" />
              @if (storeForm.get('postalCode')?.touched && storeForm.get('postalCode')?.errors?.['required']) {
              <div class="text-danger">Postal Code is required</div>
            }
          </div>
        </div>

        <div class="col-xl-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Country<span class="text-danger">*</span></h6>
            <input type="text" formControlName="country" placeholder="Enter Country" (keydown)="preventLeadingSpace($event)"/>
                @if (storeForm.get('country')?.touched && storeForm.get('country')?.errors?.['required']) {
              <div class="text-danger">Country is required</div>
            }
          </div>
        </div>

        <!-- Status -->
        <div class="col-md-6">
          <div class="input-box">
            <h6 class="f-w-600 p-1">Status<span class="text-danger">*</span></h6>
            <div class="radio-section">
              <label>
                <input type="radio" value="1" formControlName="status" />
                <i></i>
                <span>Active</span>
              </label>
              <label>
                <input type="radio" value="0" formControlName="status" />
                <i></i>
                <span>Inactive</span>
              </label>
            </div>
          </div>
        </div>

        <!-- Working Hours -->
        <div class="col-12">
          <div class="input-box">
            <h6 class="font-family">Hours of Working</h6>
            <span class="choose-img-box font-family" (click)="addHour()">
              <i class="ri-add-circle-line"></i>
              Add Working Hours
            </span>
          </div>
        </div>
        <div class="col-12">
          <div class="input-box">
            <h6 class="font-family">Upload Images </h6>
            <!-- <span class="choose-img-box font-family" > -->
            
               <input autocomplete="off" formControlName="image" id="fileInput" type="file" accept="image/*" (change)="onSelectFile($event)"
        >    @if(storeForm.get('image')?.touched && storeForm.get('image')?.hasError('required')){
                    <div class="text-danger">
                      Image is required
                    </div>
                    }
            <!-- </span> -->
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <button type="submit" class="btn btn-animation save-button font-family" style="margin-left: 10px;" (click)="addStore()">
        <i class="ri-add-circle-line"></i>&nbsp; Add Store
      </button>
      <button type="button" class="btn btn-animation reset-button font-family" (click)="storeForm.reset()">
        <i class="ri-loop-right-line"></i>&nbsp; Reset
      </button>
    </div>
  </app-card>
</form>
