/**=====================
   Update CSS Start
==========================**/
@import "../utils/variables";


// popover
.popover {
    background-color: $white;
    border: none;
    box-shadow: 0 0 20px rgba($primary-color, 0.1);

    .popover-header {
        background-color: $theme-medium-color;
        color: $primary-color;
        border-bottom: none;
    }

    .popover-body {
        color: rgba(43, 43, 43, 0.7);
    }
}

// tooltip css start
.tooltip {
    &.bs-tooltip-top {
        .tooltip-arrow {
            &:before {
                border-top-color: $theme-medium-color;
            }
        }
    }

    &.bs-tooltip-bottom {
        .tooltip-arrow {
            &:before {
                border-bottom-color: $theme-medium-color;
                border-top-color: transparent;
            }
        }
    }

    &.bs-tooltip-start {
        .tooltip-arrow {
            &:before {
                border-left-color: $theme-medium-color;
                border-top-color: transparent;
            }
        }
    }

    &.bs-tooltip-end {
        .tooltip-arrow {
            &:before {
                border-right-color: $theme-medium-color;
                border-top-color: transparent;
            }
        }
    }

    .tooltip-inner {
        background-color: $theme-medium-color;
        color: $primary-color;
    }

    .tooltip-arrow {
        &:before {
            border-top-color: $theme-medium-color;
        }
    }
}

// tooltip css end

// tab-bootstrap css start
.nav-tabs {
    border-bottom-color: $light-semi-gray;

    .nav-bottom {
        .nav-item {
            .nav-link {
                &.active {
                    border-color: $light-semi-gray;
                }
            }
        }
    }
}

.nav-tabs {
    .nav-item {
        &.show {
            .nav-link {
                font-weight: 500;
            }
        }
    }

    .nav-link {
        color: $dark-color;

        &.active {
            font-weight: 500;
        }
    }

    &.nav-bottom {
        .nav-item {
            .nav-link {
                &.active {
                    border-color: $light-gray $light-gray #fff;
                }
            }
        }
    }
}

.dropdown-menu {
    box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
    border: none;
    padding: 0;

    .dropdown-item {
        color: #2b2b2b;
        opacity: 0.6;
        font-size: 13px;
        padding: 6px 12px;
        border-top: 1px dashed $light-semi-gray;
        background: $white;

        &:hover {
            background-color: $white;
        }
    }

    .dropdown-divider {
        margin: 0;
        border-top: 1px dashed #cccccc;
    }
}

// tab-bootstrap css end


.timeliny {
    .timeliny-dot {
        &::before {
            font-size: $btn-lg-font-size;
        }
    }
}

.component {
    .input-group {
        .btn {
            line-height: 32px;
            text-transform: capitalize;
        }
    }
}

.login-card {
    .login-main {
        .theme-form {
            label {
                font-size: $body-font-size;
            }

            .show-hide {
                top: 50%;
            }
        }
    }
}
.order-status-content {
    padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: 0;
  
    h4 {
      margin-bottom: 15px;
      font-weight: 500;
      color: rgba(var(--dark-text), 1);
    }
  
    .driver-details-box {
      display: flex;
      align-items: center;
      gap: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
      padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
      background-color: rgba(var(--theme-color), 0.05);
      border: 1px solid rgba(var(--theme-color), 0.2);
      border-radius: 6px;
  
      .driver-image {
        .img {
          width: calc(50px + (70 - 50) * ((100vw - 320px) / (1920 - 320)));
          height: calc(50px + (70 - 50) * ((100vw - 320px) / (1920 - 320)));
          object-fit: contain;
          border-radius: 100%;
        }
      }
  
      .driver-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
        width: calc(
          100% - calc(50px + (70 - 50) * ((100vw - 320px) / (1920 - 320))) -
            calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)))
        );
  
        @media (max-width: 440px) {
          display: block;
        }
  
        .driver-info {
          @media (max-width: 440px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
          }
  
          h6 {
            font-weight: 400;
            color: rgba(var(--content-color), 1);
          }
  
          h5 {
            line-height: 1;
            font-weight: 500;
            color: rgba(var(--dark-text), 1);
            margin-top: 5px;
          }
        }
      }
    }
  
    .shipping-details {
      margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  
      h4 {
        margin-bottom: 15px;
        font-weight: 500;
        color: rgba(var(--dark-text), 1);
      }
  
      .delivery-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
        margin-top: 10px;
        border: 1px solid rgba(var(--dashed-line), 1);
        border-radius: 4px;
  
        li {
          border-bottom: 1px dashed rgba(var(--dashed-line), 1);
          padding-block: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))
          );
  
          &:last-child {
            border-bottom: none;
          }
  
          h6 {
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 400;
            color: rgba(var(--content-color), 1);
            margin-top: 3px;
          }
  
          h5 {
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;
            color: rgba(var(--dark-text), 1);
          }
  
          .order-address {
            display: flex;
            align-items: center;
            gap: 10px;
  
            .place-icon {
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }
  }

.checkout-detail {
    position: relative;
    margin-bottom: 0;

    li {
      width: 100%;

      + li {
        border-top: 1px dashed $border-color;
        padding-top: 10px;
        margin-top: 6px;
      }
    }

    .cart-address-box {
      display: flex;
      gap: 10px;
      margin-bottom: calc(
        10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))
      );
      padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
      background: rgba(var(--white), 1);
      border: 1px dashed $border-color;
      border-radius: 6px;

      .add-img {
        .img {
          width: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
          height: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
          border-radius: 4px;
        }
      }

      .add-content {
        width: calc(
          100% - calc(60px + (80 - 60) * ((100vw - 320px) / (1920 - 320))) -
            10px
        );
        position: relative;

        .deliver-place {
          font-weight: 600;
          font-size: calc(
            13px + (16 - 13) * ((100vw - 320px) / (1920 - 320))
          );
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          .ri-check-line {
            background-color: #60b246;
            border-radius: 100%;
            color: white;
            font-size: 13px;
            padding: 2px;
            margin-left: 6px;
          }
        }

        .change-add {
          font-size: calc(
            13px + (16 - 13) * ((100vw - 320px) / (1920 - 320))
          );
          color: rgba($primary-color, 1);
        }

        .address {
          width: 100%;
          line-height: 1.4;
          font-size: calc(
            13px + (16 - 13) * ((100vw - 320px) / (1920 - 320))
          );
        }
      }
    }

    .checkout-title {
      padding-bottom: calc(
        10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))
      );
    }

    .horizontal-product-box {
      display: flex;
      gap: 10px;
      padding: 10px 0;
      background-color: $white;

      &:first-child {
        padding-top: 0;
      }

      .product-img {
        .img {
          width: calc(90px + (130 - 70) * ((100vw - 320px) / (1920 - 320)));
          height: calc(90px + (125 - 80) * ((100vw - 320px) / (1920 - 320)));
          object-fit: cover;
          border-radius: 4px;
        }
      }

      .product-content {
        width: 100%;
        position: relative;

        h5 {
          color: $theme-font-color;
          font-weight: 500;
          max-width: 80%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: calc(
            16px + (18 - 16) * ((100vw - 320px) / (1920 - 320))
          );
        }
        .ingredients-text{
          color: $theme-body-font-color;
        }

        h6 {
          font-size: calc(
            14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))
          );
          font-weight: 400;
          color: $theme-font-color;
        }

        .place {
          position: relative;
          padding-left: calc(
            7px + (12 - 7) * ((100vw - 320px) / (1920 - 320))
          );
          color: $theme-font-color;
          border-bottom: none;

          [dir="rtl"] & {
            padding-left: unset;
            padding-right: calc(
              7px + (12 - 7) * ((100vw - 320px) / (1920 - 320))
            );
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            background-color: $light-background;
            border-radius: 100%;

            [dir="rtl"] & {
              left: unset;
              right: -5px;
            }
          }
        }

        .plus-minus {
          border: 1px dashed $border-color;
          padding: 5px;
          border-radius: 6px;
          display: flex;
          align-items: center;
          background-color: $light-background;
          text-align: center;
          width: calc(75px + (90 - 75) * ((100vw - 320px) / (1920 - 320)));

          input {
            background-color: transparent;
            color: rgba($primary-color, 1);
            border: none;
            font-size: 14px;
            outline: none;
            width: calc(20px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
            text-align: center;
          }

          i {
            color: $theme-font-color;
            cursor: pointer;

            &.sub {
              padding-right: 5px;
              border-right: 1px dashed $border-color;

              [dir="rtl"] & {
                padding-right: unset;
                padding-left: 5px;
                border-left: 1px dashed $border-color;
                border-right: unset;
              }
            }

            &.add {
              padding-left: 5px;
              border-left: 1px dashed $border-color;

              [dir="rtl"] & {
                padding-left: unset;
                padding-right: 5px;
                border-right: 1px dashed $border-color;
                border-left: unset;
              }
            }
          }
        }

        .product-price {
          font-weight: 600;
          color: $theme-font-color;
          font-size: calc(
            16px + (20 - 16) * ((100vw - 320px) / (1920 - 320))
          );
        }
      }
    }

    .promo-code {
      margin: 10px 0 0;

      .code-form-control {
        position: relative;
        padding: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 6px;
        font-size: 16px;
        border: 1px dashed $border-color;
        padding-right: 105px;
        box-shadow: none;

        [dir="rtl"] & {
          padding-left: 105px;
          padding-right: calc(
            6px + (10 - 6) * ((100vw - 320px) / (1920 - 320))
          );
        }

        &::placeholder {
          color: rgba($theme-font-color, 0.3);
        }
      }

      .apply-btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-top: 10px;
        padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)))
          calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 6px;
        font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));

        [dir="rtl"] & {
          left: 0;
          right: unset;
        }
      }
    }

    .bill-details-title {
      padding: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320))) 0
        calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))) 0;
        font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
    }

    .sub-total {
      display: flex;
      justify-content: space-between;
      padding-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));

      h6 {
        color: $theme-font-color;
      }
    }

    h5 {
      color: $theme-font-color;
    }

    .delivery-info {
      width: 70%;
      margin-bottom: 15px;
      line-height: 1.2;
    }

    .grand-total {
      display: flex;
      justify-content: space-between;
      border-top: 1px dashed $border-color;
      padding: 14px 0 0;
      margin-top: 11px;

      h6 {
        font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 600;
        color: $theme-font-color;
      }

      h5 {
        color: $theme-font-color;
      }

      .amount {
        color: $success-color;
      }
    }

    .restaurant-btn {
      padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))) 0;
      margin-top: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
      text-transform: uppercase;
    }
  }

  .ck{
    &.ck-toolbar{
      border-style: dashed !important;
    }
    &.ck-editor__editable_inline {
      border-style: dashed !important;
      height: 150px;
    }
  }
  .driver-details-box {
    .driver-details-item {
      display: flex;
      align-items: center;
      gap: 12px;
      background-color: rgba($primary-color, 0.1);
      padding: 10px;
      border: 1px dashed $primary-color;
      border-radius: 4px;
      @media (max-width: 410px) {
        display: block;
      }
      img {
        height: 70px;
        border-radius: 50%;
      }
      >div{
        width: calc(100% - 70px - 12px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1600px) and (min-width: 1200px) {
          display: block;
        }
        @media (max-width: 600px) {
          display: block;
          width: unset;
        }
        p{
          margin-bottom: 0;
          color: $theme-body-font-color;
          font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        }
        h5{
          color: $theme-font-color;
          font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 500;
        }
      }
    }
  }
  
  .delivery-list{
    background-color: $white;
    padding: 16px;
    border: 1px dashed $border-color;
    border-radius: 4px;
    li {
      display: flex;
      align-items: center;
      gap: 12px;
      border-bottom: 1px dashed $border-color;
      padding: 20px 0;
      @media (max-width: 991px) {
        padding: 10px 0;
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
      div {
        h5 {
          margin-bottom: 0 !important;
          font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 500;
          color: $theme-font-color;
        }
      }
    }
  }
.page-wrapper {
  .page-header {
    .header-wrapper {
        .Typeahead-menu {
          height: 215px;
          overflow: auto;
          .ProfileCard {
            padding: 10px; 
            .ProfileCard-realName {
              i {
                font-size: 16px; 
              }
            }
          }
        }
    }
  }
}
.ng-star-inserted {
  .ng-select {
    .ng-select-container {
      border: 1px dashed $grey-13; 
    }
  }
}
.Typeahead-menu {
  .ProfileCard {
    .ProfileCard-details {
      .ProfileCard-realName {
        a {
          color: $theme-body-font-color;
        }
      }
    }
  }
}
.input-box {
  .NgxEditor__Wrapper {
    ngx-editor-menu {
      NgxEditor__MenuBar {
        border: 1px dashed $grey-13;
      }
    }
  }
  .ng2-tag-input {
    border-bottom: unset !important; 
  }
}

.ng-dropdown-panel {
	.ng-dropdown-panel-items {
		.ng-option {
			background-color: $white;
			color: $theme-font-color;
		}
	}
}
.NgxEditor__MenuItem.NgxEditor__MenuItem--Active {
	background-color: rgba($primary-color, 0.1);
	color: $primary-color;
}
.NgxEditor__MenuItem { 
	.NgxEditor__MenuItem--Active {
		background-color: rgba($primary-color, 0.1);
		color: $primary-color;
	}
}
.title-header {
  .btn-theme {
    line-height: 0;
  }
}
.variant-images {
  .btn-check{
    background-color: $light-background !important;
    border-color: $border-color !important; 
  }
}
.dataTables_wrapper {
  label {
    gap: 12px;
    float: right;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px; 
  }
  input {
    &[type="search"] {
      width: 250px;
    }
  }
}

.setting-box {
	.general-details {
		.input-group {
			input {
				z-index: 0;
			}
		}
	}
}
.payment-methods-tab {
  .nav-tabs {
    .nav-item {
      margin-right: 10px; 
    }
  }
}

.categories-section {
  .theme-arrow {
    .categories-style {
      .swiper-wrapper {
        .owl-nav {
          // .owl-prev {
          //   display: none;
          // }
          // .owl-next {
          //   display: none;
          // }
        }
      }
    }
  }
}
/**=====================
   Update CSS End
==========================**/