<div class="row mb-3">
    <div class="col-12">
        <ul class="activation">
            <li>
                <div class="icon-state">
                    <label class="switch-xsm mb-0">
                        <input type="checkbox" id="flexSwitchCheckDefault-10" checked><span class="slider round"></span>
                    </label>
                    <label class="form-check-label" for="flexSwitchCheckDefault-10">Mailchip
                        Status</label>
                </div>
                <p>
                    <i class="ri-information-line"></i>
                    *Enable automatic acceptance of Status.
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="row gy-4 wallet-box">
    <div class="col-md-9">
        <h5 class="mb-2">Min Withdraw Amount :</h5>
        <ul>
            <li>
                <input type="text" name="text" placeholder="Enter Min Withdraw Amount">
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <h5 class="mb-2">Mailchip List Id :</h5>
        <ul>
            <li>
                <input type="text" name="text" placeholder="Enter Mailchip List Id">
            </li>
        </ul>
    </div>
</div>