<div class="input-items">
    <div class="row gy-3">
        <div class="col-md-6">
            <div class="input-box">
                <h6>Delivery Charges Per km</h6>
                <input type="text" name="text" placeholder="2" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-box">
                <h6>Minimum Delivery Charges</h6>
                <input type="text" name="text" placeholder="8" disabled>
            </div>
        </div>
        <div class="col-12">
            <div class="input-box">
                <h6>Minimum Delivery Charges Within Km</h6>
                <input type="text" name="text" placeholder="10" disabled>
            </div>
        </div>
    </div>
</div>