<div class="row">
    <div class="col-sm-12">
        <app-card [cardClass]="'card-table'" [body]="true">
            <div class="title-header option-title" body>
                <h5>Foods</h5>
                <form class="d-inline-flex">
                    <a [routerLink]="['/foods/create-food']"
                        class="align-items-center m-0 btn save-button d-flex gap-2">
                        <app-feather-icons [icons]="'plus-square'"></app-feather-icons>Add New Food
                    </a>
                </form>
            </div>
            <div class="table-responsive theme-scrollbar" body>
                <app-table [search]="true" [hasCheckbox]="true" [tableConfig]="tableConfig"></app-table>
            </div>
        </app-card>
    </div>
</div>