.save-button {
    float: right;
    // background: $gradient-fill;
    color: white;
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    margin-top: 5px;
    border: 1px solid #ef2917;
    background: #ef2917;  
    border-radius: 10px;
    &:hover {
        color: #ef2917;
        border: 1px solid #ef2917;;
        background:#fef4e8;;  
        
    }
    
}
.switch-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;

    &::before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: #ffa500; // Orange toggle

    &::before {
      transform: translateX(18px);
    }
  }
}