.save-button {
    float: right;
    // background: $gradient-fill;
    color: white;
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    margin-top: 5px;
    border: 1px solid #ef2917;
    background: #ef2917;  
    border-radius: 10px;
    &:hover {
        color: #ef2917;
        border: 1px solid #ef2917;;
        background:#fef4e8;;  
        
    }
    
}