<section class="log-in-section section-b-space">
    <a href="" class="logo-login"><img src="assets/images/logo/1.png" alt="" class="img-fluid"></a>
    <div class="container w-100">
        <div class="row">
            <div class="col-xl-5 col-lg-6 me-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3>Welcome To Zomo</h3>
                        <h4>Forgot Password</h4>
                    </div>
                    <div class="input-box">
                        <form class="row g-4">
                            <div class="col-12">
                                <input type="password" name="password" placeholder="Enter Password">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-animation w-100 justify-content-center" type="submit" [routerLink]="['/auth/login']">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>