<div class="row mb-3">
    <div class="col-12">
        <ul class="activation">
            <li>
                <div class="icon-state">
                    <label class="switch-xsm mb-0">
                        <input type="checkbox" id="flexSwitchCheckDefault-9"><span class="slider round"></span>
                    </label>
                    <label class="form-check-label" for="flexSwitchCheckDefault-9">Status</label>
                </div>
                <p>
                    <i class="ri-information-line"></i>
                    *Enable automatic acceptance of Status.
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="row gy-4 wallet-box">
    <div class="col-md-9">
        <h5 class="mb-2">Refundable Days :</h5>
        <ul>
            <li>
                <input type="text" name="text" placeholder="Enter Min Withdraw Amount">
            </li>
            <li>
                <span>*Define the period within which users can initiate refund requests for delivered items If left
                    blank, this functionality will be disabled.</span>
            </li>
        </ul>
    </div>
</div>