<div class="modal-header">
  <h5 class="modal-title">
    {{ type === "Edit" ? "Edit Banner" : "Add Banner" }}
  </h5>
  <button type="button" class="btn-close" (click)="cancel()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="addMediaForm">
    <!-- Store -->
    <div class="mb-3">
      <label class="fw-bold">Store *</label>
      <ng-select
        [items]="storesList"
        bindLabel="store_name"
        bindValue="store_id"
        placeholder="Select Store"
        formControlName="store_id"
      >
      </ng-select>
      <div
        *ngIf="f['store_id'].touched && f['store_id'].invalid"
        class="text-danger"
      >
        Store is required
      </div>
    </div>

    <!-- Text -->
    <div class="mb-3">
      <label class="fw-bold">Banner Text *</label>
      <input type="text" class="form-control" formControlName="text" />
      <div *ngIf="f['text'].touched && f['text'].invalid" class="text-danger">
        Text is required
      </div>
    </div>

    <!-- Image URL -->
    <div class="mb-3">
      <label class="fw-bold">Image URL *</label>
      <input type="text" class="form-control" formControlName="image" />
      <div *ngIf="f['image'].touched && f['image'].invalid" class="text-danger">
        Image URL is required
      </div>
    </div>

    <!-- Video URL -->
    <div class="mb-3">
      <label class="fw-bold">Video URL</label>
      <input type="text" class="form-control" formControlName="video" />
    </div>

    <!-- Start Date -->
    <div class="mb-3">
      <label class="fw-bold">Start Date *</label>
      <input
        type="datetime-local"
        class="form-control"
        formControlName="start_date"
      />
    </div>

    <!-- End Date -->
    <div class="mb-3">
      <label class="fw-bold">End Date *</label>
      <input
        type="datetime-local"
        class="form-control"
        formControlName="end_date"
      />
    </div>

    <!-- Status -->
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="status"
      />
      <label class="form-check-label">Active</label>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" (click)="cancel()">Cancel</button>

  <button class="btn btn-primary" [disabled]="isSubmitting" (click)="save()">
    {{
      isSubmitting
        ? type === "Edit"
          ? "Updating..."
          : "Saving..."
        : type === "Edit"
          ? "Update"
          : "Save"
    }}
  </button>
</div>
